flows/energy_control.json
[
    {
        "id": "1f79901475e24239",
        "type": "tab",
        "label": "Energy Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb5e56bffd985b70",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "DIY Curtailment",
        "func": "// node.warn(\"Current DC Power:\" + msg.dc_power_now);\n\nif (msg.fit < 0) {\n    // node.warn(\"Negative FIT so not exporting - \" + msg.fit + \"c FIT\");\n    msg.decision = \"Curtailing exports (-ve FIT)\";\n    msg.decisions.push(msg.decision)\n    msg.curtailment_percentage = 100;\n    flow.set(\"curtailment\", 100);\n    return [msg, null, null]\n}\n// you can add your own logic if FIT is 0 here, if you wish\nelse if (msg.fit === 0) {\n    // node.warn(\"Zero FIT so exporting at half speed\");\n    msg.decision = \"Curtailing exports by 50% (0c FIT)\";\n    msg.decisions.push(msg.decision)\n    msg.curtailment_percentage = 50;\n    flow.set(\"curtailment\", 50);\n    return [null, msg, null]\n}\nelse {\n    // node.warn(\"Exporting ok - \" + msg.fit +\"c FIT\");\n    msg.decision = \"OK to export (+ve FIT)\";\n    msg.decisions.push(msg.decision)\n    msg.curtailment_percentage = 0;\n    flow.set(\"curtailment\", 0);\n    return [null, null, msg]\n}\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 140,
        "wires": [
            [
                "39f6312b7d5aaf88"
            ],
            [
                "ae297f7198f7cda8"
            ],
            [
                "c1fd0d2530c30ab7"
            ]
        ]
    },
    {
        "id": "5c531b673a884db7",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Limit Export to 100W",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_export_power_limit"
        ],
        "data": "{\"value\":100}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1480,
        "y": 60,
        "wires": [
            [
                "ffae156d12ee89f7"
            ]
        ]
    },
    {
        "id": "d9907df2994d9ddf",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Unlimited Export (5kW)",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_export_power_limit"
        ],
        "data": "{ \"value\": 5000 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1490,
        "y": 220,
        "wires": [
            [
                "ffae156d12ee89f7"
            ]
        ]
    },
    {
        "id": "39f6312b7d5aaf88",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Enable Power Limit Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_export_power_limit_mode"
        ],
        "data": "{ \"option\": \"Enabled\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1230,
        "y": 60,
        "wires": [
            [
                "5c531b673a884db7"
            ]
        ]
    },
    {
        "id": "c1fd0d2530c30ab7",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Enable Power Limit Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_export_power_limit_mode"
        ],
        "data": "{ \"option\": \"Enabled\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1230,
        "y": 220,
        "wires": [
            [
                "d9907df2994d9ddf"
            ]
        ]
    },
    {
        "id": "6c64d2dfd3e8399a",
        "type": "catch",
        "z": "1f79901475e24239",
        "name": "CatchAll",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "6a81fb1fbfd688d8"
            ]
        ]
    },
    {
        "id": "6a81fb1fbfd688d8",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Flow Errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "1a51c2892e17f12d",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug Curtailment",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2490,
        "y": 140,
        "wires": []
    },
    {
        "id": "50d9e5e00a871b97",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "EMS Forced Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_ems_mode"
        ],
        "data": "{ \"option\": \"Forced mode\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1450,
        "y": 460,
        "wires": [
            [
                "2c9184bfc2554b60"
            ]
        ]
    },
    {
        "id": "2c9184bfc2554b60",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Forced charge",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_battery_forced_charge_discharge_cmd"
        ],
        "data": "{ \"option\": \"Forced charge\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1740,
        "y": 460,
        "wires": [
            [
                "65faecc4feb05555"
            ]
        ]
    },
    {
        "id": "3b5408452773ea23",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "EMS Self Consumption Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_ems_mode"
        ],
        "data": "{ \"option\": \"Self-consumption mode (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1510,
        "y": 520,
        "wires": [
            [
                "d6d1be72a5f6bbad"
            ]
        ]
    },
    {
        "id": "d6d1be72a5f6bbad",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Stop forced charge/discharge",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_battery_forced_charge_discharge_cmd"
        ],
        "data": "{ \"option\": \"Stop (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1810,
        "y": 520,
        "wires": [
            [
                "043568fe9ab29980"
            ]
        ]
    },
    {
        "id": "f36468c7fba6d8e9",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get Import Price",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.costs_flex_up",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "current",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "dfc1b7afe3f42a9f"
            ]
        ]
    },
    {
        "id": "5d74e58926c8af7a",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "EMS Forced Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_ems_mode"
        ],
        "data": "{ \"option\": \"Forced mode\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "7e145221ea33596c"
            ]
        ]
    },
    {
        "id": "7e145221ea33596c",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Force discharge",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_battery_forced_charge_discharge_cmd"
        ],
        "data": "{ \"option\": \"Forced discharge\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1460,
        "y": 300,
        "wires": [
            [
                "b145a53f58d3e50a"
            ]
        ]
    },
    {
        "id": "88971e4a8b4ea026",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get Feed-in Price",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.earnings_flex_up",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "fit",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "559e5cda60c9b943"
            ]
        ]
    },
    {
        "id": "649ed4cc07791925",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Run Every 10s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "1ff7ad2ca1d82a29"
            ]
        ]
    },
    {
        "id": "d5e16b85bad1814b",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug Forced Discharge",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2070,
        "y": 300,
        "wires": []
    },
    {
        "id": "559e5cda60c9b943",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get Battery Level",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_level",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "battery",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "fb9bd28f3f4ae92c"
            ]
        ]
    },
    {
        "id": "9d48684bb2b5d664",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug Force Charge",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2400,
        "y": 460,
        "wires": []
    },
    {
        "id": "b145a53f58d3e50a",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "10kW Discharge",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_forced_charge_discharge_power"
        ],
        "data": "{ \"value\": 10000 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1780,
        "y": 300,
        "wires": [
            [
                "d5e16b85bad1814b",
                "42517cc3802f7abc"
            ]
        ]
    },
    {
        "id": "65faecc4feb05555",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "10kW charge",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_forced_charge_discharge_power"
        ],
        "data": "{ \"value\": 10000 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2030,
        "y": 460,
        "wires": [
            [
                "9d48684bb2b5d664",
                "d56aba185dbdfded"
            ]
        ]
    },
    {
        "id": "043568fe9ab29980",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "100W charge/discharge",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_forced_charge_discharge_power"
        ],
        "data": "{ \"value\": 100 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2090,
        "y": 520,
        "wires": [
            [
                "1536c70dc54852ad"
            ]
        ]
    },
    {
        "id": "8fd0959b9343441b",
        "type": "rbe",
        "z": "1f79901475e24239",
        "name": "RBE",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "current",
        "topi": "battery",
        "x": 790,
        "y": 520,
        "wires": [
            [
                "c94dc0e157e692bc"
            ]
        ]
    },
    {
        "id": "ffae156d12ee89f7",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Slow battery charge?",
        "func": "let today = new Date()\n//node.warn(msg.net_remaining);\n\n// if FIT 0 or less, charge the battery at full speed\nif (msg.fit <= 0 ) {\n    //node.warn(msg.net_remaining);\n    //node.warn(\"No FIT benefit - \" + msg.fit + \"c - so charging at full speed\");\n    msg.decision = \"No feed-in benefit so not limiting charge rate\";\n    msg.decisions.push(msg.decision)\n    msg.battery_w = 10000;\n    return [msg, null]\n}\n// there is some feed in benefit, work out if worth slow-charging for\nelse if (msg.battery < 100 && msg.net_remaining < 1) {\n    //node.warn(msg.net_remaining);\n    //node.warn(\"FIT benefit - \" + msg.fit + \"c but less than 1kWh remaining generation so prioritising battery\");\n    msg.decision = \"Feed-in benefit but low generation remaining so not limiting charge rate\";\n    msg.decisions.push(msg.decision)\n    msg.battery_w = 10000;\n    return [null, msg]\n}\nelse if (msg.battery >= 30 && msg.net_remaining > msg.charge_required && today.getHours() > 12 && today.getHours() < 17) {\n    //node.warn(msg.net_remaining);\n    //node.warn(\"FIT benefit - \" + msg.fit + \"c - so slow charging\");\n    msg.decision = \"Getting late in the day, FIT is probably going to be higher later so not limiting charge rate now\";\n    msg.decisions.push(msg.decision)\n    msg.battery_w = 10000;\n    return [null, msg]\n}\nelse if (msg.battery >= 20 && msg.net_remaining > msg.charge_required) {\n    //node.warn(msg.net_remaining);\n    //node.warn(\"FIT benefit - \" + msg.fit + \"c - so slow charging\");\n    msg.decision = \"Enough generation remaining so limiting charge rate to 1kW, better to get some FIT\";\n    msg.decisions.push(msg.decision)\n    msg.battery_w = 1000;\n    return [null, msg]\n}\nelse if (msg.fit > 0.01 && msg.battery <= 15 && msg.net_remaining > msg.charge_required) {\n    //node.warn(msg.net_remaining);\n    //node.warn(\"FIT benefit but low battery - \" + msg.fit + \"c - so slow charging\");\n    msg.decision = \"Enough generation remaining but low battery setting charge rate to 10% of PV\";\n    msg.decisions.push(msg.decision)\n    let slow_charge = Math.round((msg.dc_power_now * .1)/100) * 100;\n    msg.battery_w = slow_charge > 100 ? slow_charge : 100;\n    return [null, msg]\n}\n//if the battery is almost full, you can customise the logic here\nelse if (msg.battery > 95 && msg.expected_generation_remaining > msg.charge_required && msg.net_remaining > msg.charge_required) {\n    //node.warn(msg.net_remaining);\n    //node.warn(\"FIT benefit and battery almost full - \" + msg.fit + \"c - so slow charging\");\n    msg.decision = \"Enough generation remaining and battery almost full so setting charge rate to 10% of PV\";\n    msg.decisions.push(msg.decision)\n    let slow_charge = Math.round((msg.dc_power_now * .1)/100) * 100;\n    msg.battery_w = slow_charge > 100 ? slow_charge : 100;\n    return [null, msg]\n}\n//there is some feed-in benefit but we are favouring battery charging\nelse {\n    //node.warn(msg.net_remaining);\n    //node.warn(\"Else - \" + msg.fit + \"c - so fast charging\");\n    msg.battery_w = 10000;\n    msg.decision = \"Feed-in benefit but not limiting charge rate\";\n    msg.decisions.push(msg.decision)\n    return [msg, null]\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 140,
        "wires": [
            [
                "b3b32c6d54454753"
            ],
            [
                "ca8eb3d80453cd6d"
            ]
        ]
    },
    {
        "id": "ca8eb3d80453cd6d",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Slow or max charge rate (10kW)",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_battery_max_charge_power"
        ],
        "data": "{\"value\": {{battery_w}} }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2170,
        "y": 180,
        "wires": [
            [
                "1a51c2892e17f12d",
                "34a1738dbfcb8475"
            ]
        ]
    },
    {
        "id": "b3b32c6d54454753",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Charge at max rate (10kW)",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_battery_max_charge_power"
        ],
        "data": "{ \"value\": 10000 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2160,
        "y": 100,
        "wires": [
            [
                "1a51c2892e17f12d",
                "34a1738dbfcb8475"
            ]
        ]
    },
    {
        "id": "0605e50b68899c29",
        "type": "http request",
        "z": "1f79901475e24239",
        "name": "PV Forecast East",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.solcast.com.au/rooftop_sites/{site}/forecasts?format=json&api_key={key}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 1140,
        "wires": [
            [
                "a821de789328e835"
            ]
        ]
    },
    {
        "id": "4f85b5af156ee042",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "6am",
        "props": [
            {
                "p": "hour",
                "v": "6",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1140,
        "wires": [
            [
                "0605e50b68899c29",
                "48f9844a95125169"
            ]
        ]
    },
    {
        "id": "11763b208acb126a",
        "type": "file",
        "z": "1f79901475e24239",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 1140,
        "wires": [
            [
                "fd446dfddd7e01ba"
            ]
        ]
    },
    {
        "id": "cb62b128e0135a13",
        "type": "file",
        "z": "1f79901475e24239",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 1220,
        "wires": [
            [
                "a6f8d9f298972fbc"
            ]
        ]
    },
    {
        "id": "48f9844a95125169",
        "type": "http request",
        "z": "1f79901475e24239",
        "name": "PV Forecast West",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.solcast.com.au/rooftop_sites/{site}/forecasts?format=json&api_key={key}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 1220,
        "wires": [
            [
                "2c63c826bb2b349a"
            ]
        ]
    },
    {
        "id": "fd446dfddd7e01ba",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug East Forecast",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a6f8d9f298972fbc",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug West Forecast",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b57a43727dd9c0e2",
        "type": "link in",
        "z": "1f79901475e24239",
        "name": "Import Decider",
        "links": [
            "0a032d105b8d9da9",
            "18fe09f820d95363"
        ],
        "x": 45,
        "y": 520,
        "wires": [
            [
                "f36468c7fba6d8e9"
            ]
        ]
    },
    {
        "id": "0a032d105b8d9da9",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "decide on import",
        "mode": "link",
        "links": [
            "b57a43727dd9c0e2"
        ],
        "x": 1135,
        "y": 360,
        "wires": []
    },
    {
        "id": "9ac26a457751b327",
        "type": "http request",
        "z": "1f79901475e24239",
        "name": "PV Actuals East",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.solcast.com.au/rooftop_sites/{site}/estimated_actuals?format=json&api_key={key}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 1520,
        "wires": [
            [
                "a8804c362b221513"
            ]
        ]
    },
    {
        "id": "9278706af01eab03",
        "type": "file",
        "z": "1f79901475e24239",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 1520,
        "wires": [
            [
                "0211ddc1e0e54f85"
            ]
        ]
    },
    {
        "id": "c3a516c71a4a731f",
        "type": "file in",
        "z": "1f79901475e24239",
        "name": "Read East",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 490,
        "y": 1620,
        "wires": [
            [
                "421becbc48827b34"
            ]
        ]
    },
    {
        "id": "421becbc48827b34",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Parse East",
        "func": "msg.east = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1620,
        "wires": [
            [
                "369ff755ea9da10b"
            ]
        ]
    },
    {
        "id": "a91677e1b2de012d",
        "type": "file",
        "z": "1f79901475e24239",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 1560,
        "wires": [
            [
                "148f65a2d2e22838"
            ]
        ]
    },
    {
        "id": "1127cf391b8f5c07",
        "type": "http request",
        "z": "1f79901475e24239",
        "name": "PV Actuals West",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.solcast.com.au/rooftop_sites/{site}/estimated_actuals?format=json&api_key={key}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 1560,
        "wires": [
            [
                "0d02081c62a0cb1a"
            ]
        ]
    },
    {
        "id": "036c736290879447",
        "type": "file in",
        "z": "1f79901475e24239",
        "name": "Read West",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1050,
        "y": 1620,
        "wires": [
            [
                "a48ab7d937bd29f6"
            ]
        ]
    },
    {
        "id": "a48ab7d937bd29f6",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Parse and Add",
        "func": "msg.west = JSON.parse(msg.payload);\nmsg.totals = {}\nmsg.actual_today = 0;\nmsg.actual_by_hour = [];\nmsg.actual_yesterday = 0;\nmsg.actual_yesterday_by_hour = [];\nmsg.total_parts = [];\nmsg.forecast_periods = [];\n\nlet today = new Date();\nlet yesterday = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 1);\n//node.warn(today);\n//node.warn(yesterday);\nlet max_items = Math.min(msg.west.estimated_actuals.length, msg.east.estimated_actuals.length);\nif (msg.west.estimated_actuals[0].period_end === msg.east.estimated_actuals[0].period_end) {\n    for (let i = 0; i < max_items; i++) {\n        let dp = msg.west.estimated_actuals[i].period_end.split(/\\D/);\n        let dateObj = new Date(Date.UTC(dp[0], dp[1]-1, dp[2], dp[3], dp[4], dp[5]));\n        let total = (msg.west.estimated_actuals[i].pv_estimate + msg.east.estimated_actuals[i].pv_estimate)/2;\n        if (today.getDate() === dateObj.getDate()) {\n            msg.actual_today += total;\n            if (msg.actual_by_hour[dateObj.getHours()]) {\n                msg.actual_by_hour[dateObj.getHours()] += total;\n            }\n            else {\n                msg.actual_by_hour[dateObj.getHours()] = total;\n            }\n            msg.total_parts.push(total);\n        }\n        if (yesterday.getDate() === dateObj.getDate()) {\n            msg.actual_yesterday += total;\n            if (msg.actual_yesterday_by_hour[dateObj.getHours()]) {\n                msg.actual_yesterday_by_hour[dateObj.getHours()] += total;\n            }\n            else {\n                msg.actual_yesterday_by_hour[dateObj.getHours()] = total;\n            }\n            msg.forecast_periods.push(total);\n        }\n        msg.totals[msg.west.estimated_actuals[i].period_end] = { total: total, date: dateObj };\n    }\n}\nelse {\n    node.error(\"files have different start times\", msg);\n}\nmsg.actual_yesterday = msg.actual_yesterday.toPrecision(3)\nmsg.actual_today = msg.actual_today.toPrecision(3)\nfor (let i = 0; i < msg.actual_yesterday_by_hour.length; i++) {\n    if (msg.actual_yesterday_by_hour[i] !== undefined) {\n        msg.actual_yesterday_by_hour[i] = msg.actual_yesterday_by_hour[i].toPrecision(2)\n    }\n}\nfor (let i = 0; i < msg.actual_by_hour.length; i++) {\n    if (msg.actual_by_hour[i] !== undefined) {\n        msg.actual_by_hour[i] = msg.actual_by_hour[i].toPrecision(2)\n    }\n}\nmsg.payload = {\n    \"actual_yesterday\": msg.actual_yesterday,\n    \"actual_yesterday_by_hour\": msg.actual_yesterday_by_hour,\n    \"actual_today\": msg.actual_today,\n    \"actual_by_hour\": msg.actual_by_hour,\n};\nmsg.filename = \"/config/node-red/solcast/actuals-\" + msg.hour + \"-\" + today.getDate() + \"-\" + (today.getMonth() + 1) + \"-\" + today.getFullYear() + \".json\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1620,
        "wires": [
            [
                "e21fedd444fbb157"
            ]
        ]
    },
    {
        "id": "a3176718f2c6c782",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug Writing Actuals",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 1620,
        "wires": []
    },
    {
        "id": "a8804c362b221513",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Filename",
        "func": "let today = new Date();\nlet datestamp = today.getDate() + \"-\" + (today.getMonth()+1) + \"-\" + today.getFullYear();\nmsg.filename = \"/config/node-red/solcast/actuals/\"+datestamp+\"/east.json\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1520,
        "wires": [
            [
                "9278706af01eab03"
            ]
        ]
    },
    {
        "id": "0211ddc1e0e54f85",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug East Actuals",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1520,
        "wires": []
    },
    {
        "id": "0d02081c62a0cb1a",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Filename",
        "func": "let today = new Date();\nlet datestamp = today.getDate() + \"-\" + (today.getMonth()+1) + \"-\" + today.getFullYear();\nmsg.filename = \"/config/node-red/solcast/actuals/\"+datestamp+\"/west.json\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1560,
        "wires": [
            [
                "a91677e1b2de012d"
            ]
        ]
    },
    {
        "id": "148f65a2d2e22838",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug West Actuals",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1560,
        "wires": []
    },
    {
        "id": "b5e56aea5cc3c58f",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "East Filename",
        "func": "let today = new Date();\nlet datestamp = today.getDate() + \"-\" + (today.getMonth() + 1) + \"-\" + today.getFullYear();\nmsg.filename = \"/config/node-red/solcast/actuals/\" + datestamp + \"/east.json\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1620,
        "wires": [
            [
                "c3a516c71a4a731f"
            ]
        ]
    },
    {
        "id": "369ff755ea9da10b",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "West Filename",
        "func": "let today = new Date();\nlet datestamp = today.getDate() + \"-\" + (today.getMonth() + 1) + \"-\" + today.getFullYear();\nmsg.filename = \"/config/node-red/solcast/actuals/\" + datestamp + \"/west.json\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1620,
        "wires": [
            [
                "036c736290879447"
            ]
        ]
    },
    {
        "id": "1536c70dc54852ad",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Preserve Battery?",
        "func": "let today = new Date();\n// node.warn(\"hour now is \" + today.getHours());\n// node.warn(msg.current + \" and battery \" + msg.battery);\nif (today.getHours() >= 13) {\n    if (msg.current <= .05 && msg.demand_interval == false) {\n        // node.warn(\"After 2pm - preserving battery - grid cheaper than battery cycles\");\n        msg.decision = \"After 1pm, preserving battery - grid cheaper than battery cycles\";\n        msg.decisions.push(msg.decision)\n        return [null, msg]\n    }\n    else {\n        msg.decision = \"After 1pm - but not worth preserving battery at current price (or demand period), use battery\";\n        msg.decisions.push(msg.decision)\n        // node.warn(\"Not worth preserving battery\");\n        return [msg, null]\n    }\n}\nelse {\n    msg.decision = \"Before 1pm, not worth preserving battery, use battery as required\";\n    msg.decisions.push(msg.decision)\n    // node.warn(\"Not worth preserving battery\");\n    return [msg, null]\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2370,
        "y": 520,
        "wires": [
            [
                "ffb0a9ed461d153d"
            ],
            [
                "1ffa74b8dda65053"
            ]
        ]
    },
    {
        "id": "1ffa74b8dda65053",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Limit battery discharge (100W)",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_battery_max_discharge_power"
        ],
        "data": "{ \"value\": 100 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2710,
        "y": 560,
        "wires": [
            [
                "8b6fd9398d2f317f",
                "8560493c39f5b8e9"
            ]
        ]
    },
    {
        "id": "ffb0a9ed461d153d",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "No Limit on battery discharge (10kW)",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_battery_max_discharge_power"
        ],
        "data": "{ \"value\": 10000 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2740,
        "y": 480,
        "wires": [
            [
                "8b6fd9398d2f317f",
                "8560493c39f5b8e9"
            ]
        ]
    },
    {
        "id": "8b6fd9398d2f317f",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug Self-Consume",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3060,
        "y": 520,
        "wires": []
    },
    {
        "id": "e21fedd444fbb157",
        "type": "file",
        "z": "1f79901475e24239",
        "name": "Write actuals",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1430,
        "y": 1620,
        "wires": [
            [
                "a3176718f2c6c782"
            ]
        ]
    },
    {
        "id": "ae3afdd61dc9a8de",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Slower Export",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_export_power_limit"
        ],
        "data": "{ \"value\": 2500 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1460,
        "y": 140,
        "wires": [
            [
                "ffae156d12ee89f7"
            ]
        ]
    },
    {
        "id": "ae297f7198f7cda8",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Enable Power Limit Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_export_power_limit_mode"
        ],
        "data": "{ \"option\": \"Enabled\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1230,
        "y": 140,
        "wires": [
            [
                "ae3afdd61dc9a8de"
            ]
        ]
    },
    {
        "id": "26095181237591c5",
        "type": "mqtt in",
        "z": "1f79901475e24239",
        "name": "Get remaining kW",
        "topic": "remaining_kw",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "814a6af6675ecbdc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1550,
        "y": 1460,
        "wires": [
            [
                "87219a36a81fb30c"
            ]
        ]
    },
    {
        "id": "87219a36a81fb30c",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug Forecast MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 1460,
        "wires": []
    },
    {
        "id": "fb9bd28f3f4ae92c",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get Current Generation",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "sensor.total_dc_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "dc_power_now",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "8d1dae732f9cd52b"
            ]
        ]
    },
    {
        "id": "8d1dae732f9cd52b",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get Current Load",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "sensor.load_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "load_now",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 470,
        "y": 440,
        "wires": [
            [
                "54a4906de409765a"
            ]
        ]
    },
    {
        "id": "20088defeca33c6d",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "9pm",
        "props": [
            {
                "p": "hour",
                "v": "21",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "00 21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1540,
        "wires": [
            [
                "9ac26a457751b327",
                "1127cf391b8f5c07"
            ]
        ]
    },
    {
        "id": "397a8e62fd657fcb",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "9pm",
        "props": [
            {
                "p": "hour",
                "v": "21",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "02 21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1620,
        "wires": [
            [
                "b5e56aea5cc3c58f"
            ]
        ]
    },
    {
        "id": "f085d782edaac2ed",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "6am",
        "props": [
            {
                "p": "hour",
                "v": "6",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "05 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1300,
        "wires": [
            [
                "8092b7e5f7ea8c8a"
            ]
        ]
    },
    {
        "id": "74187efbcc1dbd7b",
        "type": "file in",
        "z": "1f79901475e24239",
        "name": "Get baseline consumption",
        "filename": "/config/node-red/reference/baseline-consumption.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 1020,
        "wires": [
            [
                "62b9eefd4ed182cd"
            ]
        ]
    },
    {
        "id": "62b9eefd4ed182cd",
        "type": "csv",
        "z": "1f79901475e24239",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "mult",
        "ret": "\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 650,
        "y": 1020,
        "wires": [
            [
                "8978b7179746f97f"
            ]
        ]
    },
    {
        "id": "f9e223cc2d0ab404",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug Load Consumption",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8ee5d0ef4b168462",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Get Baseline Consumption",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "74187efbcc1dbd7b"
            ]
        ]
    },
    {
        "id": "8978b7179746f97f",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Convert to Obj",
        "func": "let obj = {};\nfor (let i=0; i<msg.payload.length; i++) {\n    obj[\"\"+msg.payload[i].col1] = msg.payload[i].col2;\n}\nmsg.payload = obj;\nflow.set(\"baseline_consumption\", obj);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1020,
        "wires": [
            [
                "f9e223cc2d0ab404"
            ]
        ]
    },
    {
        "id": "c77df77d06687acd",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "10am",
        "props": [
            {
                "p": "hour",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "00 10 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1180,
        "wires": [
            [
                "0605e50b68899c29",
                "48f9844a95125169"
            ]
        ]
    },
    {
        "id": "42109ec2cb2362d4",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "2pm",
        "props": [
            {
                "p": "hour",
                "v": "14",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "00 14 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1220,
        "wires": [
            [
                "0605e50b68899c29",
                "48f9844a95125169"
            ]
        ]
    },
    {
        "id": "dd77311af912a801",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "10am",
        "props": [
            {
                "p": "hour",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "05 10 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1340,
        "wires": [
            [
                "8092b7e5f7ea8c8a"
            ]
        ]
    },
    {
        "id": "77706f99827d3924",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "2pm",
        "props": [
            {
                "p": "hour",
                "v": "14",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "05 14 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1380,
        "wires": [
            [
                "8092b7e5f7ea8c8a"
            ]
        ]
    },
    {
        "id": "a821de789328e835",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Filename",
        "func": "let today = new Date();\nlet datestamp = today.getDate() + \"-\" + (today.getMonth()+1) + \"-\" + today.getFullYear();\nmsg.filename = \"/config/node-red/solcast/data/\"+datestamp+\"/\" + msg.hour + \"-east.json\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1140,
        "wires": [
            [
                "11763b208acb126a"
            ]
        ]
    },
    {
        "id": "2c63c826bb2b349a",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Filename",
        "func": "let today = new Date();\nlet datestamp = today.getDate() + \"-\" + (today.getMonth() + 1) + \"-\" + today.getFullYear();\nmsg.filename = \"/config/node-red/solcast/data/\"+datestamp+\"/\" + msg.hour + \"-west.json\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1220,
        "wires": [
            [
                "cb62b128e0135a13"
            ]
        ]
    },
    {
        "id": "8092b7e5f7ea8c8a",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "East Filename",
        "func": "let today = new Date();\nmsg.datestamp = today.getDate() + \"-\" + (today.getMonth() + 1) + \"-\" + today.getFullYear();\n//regenerate all files for today\nlet hours = [6,10,14];\nfor (let i=0; i<hours.length; i++) {\n    if (hours[i] <= today.getHours()) { //file should exist\n        msg.hour = hours[i];\n        msg.filename = \"/config/node-red/solcast/data/\"+msg.datestamp+\"/\" + msg.hour + \"-east.json\";\n        node.send(msg); \n    }\n    else {\n        // node.warn(\"skipping hour as not there yet: \"+hours[i])\n        // node.send([null,msg])\n    }\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1340,
        "wires": [
            [
                "357fa5cff94f7b65"
            ]
        ]
    },
    {
        "id": "357fa5cff94f7b65",
        "type": "file in",
        "z": "1f79901475e24239",
        "name": "Read East",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 550,
        "y": 1340,
        "wires": [
            [
                "e4560c21c11cd27f"
            ]
        ]
    },
    {
        "id": "e4560c21c11cd27f",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Parse East",
        "func": "msg.east = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1340,
        "wires": [
            [
                "6541e6c528d60c87"
            ]
        ]
    },
    {
        "id": "6541e6c528d60c87",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "West Filename",
        "func": "msg.filename = \"/config/node-red/solcast/data/\"+msg.datestamp+\"/\" + msg.hour + \"-west.json\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1340,
        "wires": [
            [
                "7fe38b1c495b22aa"
            ]
        ]
    },
    {
        "id": "7fe38b1c495b22aa",
        "type": "file in",
        "z": "1f79901475e24239",
        "name": "Read West",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1110,
        "y": 1340,
        "wires": [
            [
                "b516e45804e58206"
            ]
        ]
    },
    {
        "id": "b516e45804e58206",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Parse and Add",
        "func": "msg.west = JSON.parse(msg.payload);\nmsg.totals = {}\nmsg.remaining_today = 0;\nmsg.remaining_by_hour = [];\nmsg.forecast_tomorrow = 0;\nmsg.forecast_tomorrow_by_hour = [];\nmsg.total_parts = [];\nmsg.forecast_periods = [];\nlet today = new Date();\nlet datestamp = today.getDate() + \"-\" + (today.getMonth()+1) + \"-\" + today.getFullYear();\nlet tomorrow = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 1);\n//node.warn(today);\n//node.warn(tomorrow);\nlet max_items = Math.min(msg.west.forecasts.length, msg.east.forecasts.length);\nlet peak_gen_time = new Date();\nlet peak_gen_kwh = 0;\nif (msg.west.forecasts[0].period_end === msg.east.forecasts[0].period_end) {\n    for (let i = 0; i < max_items; i++) {\n        let dp = msg.west.forecasts[i].period_end.split(/\\D/);\n        let dateObj = new Date(Date.UTC(dp[0], dp[1]-1, dp[2], dp[3], dp[4], dp[5]));\n        //set time back half an hour so the time is period start not end\n        dateObj.setTime(dateObj.getTime()-(30*60*1000))\n        let pv_estimate_west = (msg.west.forecasts[i].pv_estimate10 + msg.west.forecasts[i].pv_estimate90) / 2;\n        let pv_estimate_east = (msg.east.forecasts[i].pv_estimate10 + msg.east.forecasts[i].pv_estimate90) / 2;\n        let total = (pv_estimate_west + pv_estimate_east)/2;\n        if (today.getDate() === dateObj.getDate()) {\n            //node.warn(\"In if statement\");\n            msg.remaining_today += total;\n            if (msg.remaining_by_hour[dateObj.getHours()]) {\n                msg.remaining_by_hour[dateObj.getHours()] += total;\n                if (peak_gen_kwh < msg.remaining_by_hour[dateObj.getHours()]) {\n                    peak_gen_kwh = msg.remaining_by_hour[dateObj.getHours()];\n                    peak_gen_time = dateObj;\n                }\n            }\n            else {\n                msg.remaining_by_hour[dateObj.getHours()] = total;\n            }\n            msg.total_parts.push(total);\n        }\n        if (tomorrow.getDate() === dateObj.getDate()) {\n            msg.forecast_tomorrow += total;\n            if (msg.forecast_tomorrow_by_hour[dateObj.getHours()]) {\n                msg.forecast_tomorrow_by_hour[dateObj.getHours()] += total;\n            }\n            else {\n                msg.forecast_tomorrow_by_hour[dateObj.getHours()] = total;\n            }\n            msg.forecast_periods.push(total);\n        }\n        msg.totals[msg.east.forecasts[i].period_end] = { total: total, date: dateObj };\n    }\n}\nelse {\n    node.error(\"files have different start times\", msg);\n}\nmsg.remaining_today = msg.remaining_today.toPrecision(3)\n//node.warn(msg.remaining_today);\nmsg.forecast_tomorrow = msg.forecast_tomorrow.toPrecision(3)\nfor (let i = 0; i < msg.remaining_by_hour.length; i++) {\n    if (msg.remaining_by_hour[i] !== undefined) {\n        msg.remaining_by_hour[i] = msg.remaining_by_hour[i].toPrecision(2)\n    }\n}\n\nfor (let i = 0; i < msg.forecast_tomorrow_by_hour.length; i++) {\n    if (msg.forecast_tomorrow_by_hour[i] !== undefined) {\n        msg.forecast_tomorrow_by_hour[i] = msg.forecast_tomorrow_by_hour[i].toPrecision(2)\n    }\n}\nlet peak_gen_hm = peak_gen_time.getHours().toString().padStart(2, '0') + \":\" + peak_gen_time.getMinutes().toString().padStart(2, '0');\n\nflow.set(\"peak_gen_kwh\", peak_gen_kwh.toPrecision(3));\nflow.set(\"peak_gen_time\", peak_gen_hm);\nflow.set(\"remaining_today\", msg.remaining_by_hour);\nflow.set(\"expected_tomorrow\", msg.forecast_tomorrow);\n//if (today.getHours() < 10) {\n    flow.set(\"forecast_pv_today\",msg.remaining_today)\n//}\n\n//node.warn(peak_gen_kwh);\n//node.warn(peak_gen_time);\n//node.warn(msg.remaining_today);\n//node.warn(msg.remaining_by_hour);\n//node.warn(msg.forecast_tomorrow);\n//node.warn(msg.forecast_tomorrow_by_hour);\n\nmsg.payload = {\n    \"peak_gen_kwh\": peak_gen_kwh,\n    \"peak_gen_time\": peak_gen_time,\n    \"forecast_today\": msg.remaining_today,\n    \"forecast_by_hour\": msg.remaining_by_hour,\n    \"forecast_tomorrow\": msg.forecast_tomorrow,\n    \"forecast_tomorrow_by_hour\": msg.forecast_tomorrow_by_hour\n};\nmsg.filename = \"/config/node-red/solcast/forecasts/\"+datestamp+\"/\" + msg.hour + \".json\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1340,
        "wires": [
            [
                "e590f5e8457545e6",
                "1a13d7171fc97e36"
            ]
        ]
    },
    {
        "id": "e590f5e8457545e6",
        "type": "file",
        "z": "1f79901475e24239",
        "name": "Write forecast",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1540,
        "y": 1340,
        "wires": [
            [
                "55c4f1ce5d6294af"
            ]
        ]
    },
    {
        "id": "1a13d7171fc97e36",
        "type": "mqtt out",
        "z": "1f79901475e24239",
        "name": "Send Remaining kW",
        "topic": "remaining_kw",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "814a6af6675ecbdc",
        "x": 1560,
        "y": 1400,
        "wires": []
    },
    {
        "id": "55c4f1ce5d6294af",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug Writing Forecast",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 1340,
        "wires": []
    },
    {
        "id": "184cf02081a726de",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Generation History",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "sensor.daily_pv_generation",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 920,
        "wires": [
            [
                "ab4782e1f7f95fe4"
            ]
        ]
    },
    {
        "id": "dfb9d1a36b05ff1c",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Check Generation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "184cf02081a726de"
            ]
        ]
    },
    {
        "id": "ea51eed03a0044ec",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug PV Generation Logging",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 920,
        "wires": []
    },
    {
        "id": "91adc6a24b70f967",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Append to today file",
        "func": "let now = new Date();\nlet timestamp = now.getHours().toString().padStart(2, '0') + \":\" + now.getMinutes().toString().padStart(2, '0');\nlet datestamp = now.getDate().toString().padStart(2, '0') + \"-\" + (now.getMonth()+1).toString().padStart(2, '0') + \"-\" + now.getFullYear();\n\nmsg.filename = \"/config/node-red/solcast/generation/\"+datestamp+\".csv\";\nmsg.payload = timestamp + \",\" + msg.payload+\",\"+flow.get(\"curtailment\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 920,
        "wires": [
            [
                "085f7886178e6430"
            ]
        ]
    },
    {
        "id": "085f7886178e6430",
        "type": "file",
        "z": "1f79901475e24239",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 920,
        "y": 920,
        "wires": [
            [
                "ea51eed03a0044ec"
            ]
        ]
    },
    {
        "id": "ab4782e1f7f95fe4",
        "type": "rbe",
        "z": "1f79901475e24239",
        "name": "RBE",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 530,
        "y": 920,
        "wires": [
            [
                "91adc6a24b70f967"
            ]
        ]
    },
    {
        "id": "665ebca3a7b8ab6f",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Shutdown Inverter",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_inverter_run_mode"
        ],
        "data": "{ \"option\": \"Shutdown\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1410,
        "y": 580,
        "wires": [
            [
                "04627e24103fd77b"
            ]
        ]
    },
    {
        "id": "1e0405e3b06bc673",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Enable Inverter",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_inverter_run_mode"
        ],
        "data": "{ \"option\": \"Enabled\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1240,
        "y": 460,
        "wires": [
            [
                "50d9e5e00a871b97"
            ]
        ]
    },
    {
        "id": "143d940c9f69e862",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Enable Inverter",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_inverter_run_mode"
        ],
        "data": "{ \"option\": \"Enabled\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1240,
        "y": 520,
        "wires": [
            [
                "3b5408452773ea23"
            ]
        ]
    },
    {
        "id": "2cf582a9c4c1ab3c",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug Shutdown",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2430,
        "y": 580,
        "wires": []
    },
    {
        "id": "04627e24103fd77b",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "EMS Self Consumption Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_ems_mode"
        ],
        "data": "{ \"option\": \"Self-consumption mode (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1670,
        "y": 580,
        "wires": [
            [
                "b16ff1e25c1edd7f"
            ]
        ]
    },
    {
        "id": "b16ff1e25c1edd7f",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Stop forced charge/discharge",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_battery_forced_charge_discharge_cmd"
        ],
        "data": "{ \"option\": \"Stop (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1960,
        "y": 580,
        "wires": [
            [
                "d6a33f55e51138c3"
            ]
        ]
    },
    {
        "id": "d6a33f55e51138c3",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "10kW charge",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_forced_charge_discharge_power"
        ],
        "data": "{ \"value\": 10000 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2210,
        "y": 580,
        "wires": [
            [
                "2cf582a9c4c1ab3c",
                "d6a58eda9dc91ce3"
            ]
        ]
    },
    {
        "id": "77afe9b15f189969",
        "type": "comment",
        "z": "1f79901475e24239",
        "name": "Get Solcast forecasts",
        "info": "",
        "x": 120,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c84b52c674d6dc46",
        "type": "comment",
        "z": "1f79901475e24239",
        "name": "Get Solcast actuals",
        "info": "",
        "x": 110,
        "y": 1500,
        "wires": []
    },
    {
        "id": "91feaea3e52c1e38",
        "type": "comment",
        "z": "1f79901475e24239",
        "name": "Log PV Generation",
        "info": "",
        "x": 110,
        "y": 880,
        "wires": []
    },
    {
        "id": "d03e05dd462b0a37",
        "type": "comment",
        "z": "1f79901475e24239",
        "name": "Load Expected Consumption",
        "info": "",
        "x": 140,
        "y": 980,
        "wires": []
    },
    {
        "id": "a7390269d6889937",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Calculate Inputs",
        "func": "let remaining_generation = flow.get(\"remaining_today\");\nlet baseline_consumption = flow.get(\"baseline_consumption\");\nlet today = new Date();\nlet current_hour = today.getHours();\nmsg.decisions = []\nmsg.expected_consumption_remaining = 0;\nmsg.expected_generation_remaining = 0;\nlet consumption_minus_generating_remaining = 0;\nfor (let hour in baseline_consumption) {\n    //if (Number(hour) >= current_hour) {   // <- original, but this takes all day to midnight, not just until sun goes down\n    // This may be appropriate if the battery is large enough to take you completely through the night, as you need to charge the battery up.\n    // However, if the battery is limited in capacity, then don't draw from grid to charge to 100% if there will be remaining solar to charge it to 100% anyway.\n    // If it is, then comment the below line, and uncomment line 10 above.\n    if (Number(hour) >= current_hour && Number(hour) <= 17) {\n        let consumption_this_hour = (baseline_consumption[hour] / 1000);\n        msg.expected_consumption_remaining += consumption_this_hour;\n        if (remaining_generation.hasOwnProperty(hour) && remaining_generation[hour]) {\n            msg.expected_generation_remaining += Number(remaining_generation[hour]);\n            consumption_minus_generating_remaining += Number(remaining_generation[hour]) - consumption_this_hour;\n        }\n    }\n}\n// node.warn(`baseline consumption remaining ${msg.expected_consumption_remaining.toPrecision(2)}kWh`);\n// node.warn(`generation remaining ${msg.expected_generation_remaining.toPrecision(2)}kWh`)\nmsg.net_remaining = (msg.expected_generation_remaining - msg.expected_consumption_remaining);\n// node.warn(`generation - consumption estimate ${msg.net_remaining.toPrecision(2)}kWh`);\nmsg.remaining_battery_kwh = (msg.battery / 100) * 19.2;\n// node.warn(`battery remaining ${msg.remaining_battery_kwh.toPrecision(3)}kWh`);\nmsg.charge_required = 19.2 - msg.remaining_battery_kwh;\n// node.warn(`battery deficit ${msg.charge_required.toPrecision(3)}kWh`);\n// node.warn(`Net generation minus consumption: ${consumption_minus_generating_remaining.toPrecision(2)}kWh`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 240,
        "wires": [
            [
                "bb5e56bffd985b70",
                "6623170110326545"
            ]
        ]
    },
    {
        "id": "6613c30d8e2004e1",
        "type": "debug",
        "z": "1f79901475e24239",
        "name": "Debug Decision Logging",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3110,
        "y": 420,
        "wires": []
    },
    {
        "id": "66f7dd10543c5291",
        "type": "file",
        "z": "1f79901475e24239",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2900,
        "y": 420,
        "wires": [
            [
                "6613c30d8e2004e1"
            ]
        ]
    },
    {
        "id": "8baa8f9994565d39",
        "type": "link in",
        "z": "1f79901475e24239",
        "name": "Decision Logger",
        "links": [
            "d56aba185dbdfded",
            "42517cc3802f7abc",
            "d6a58eda9dc91ce3",
            "8560493c39f5b8e9",
            "34a1738dbfcb8475",
            "4137a97c634901e2",
            "43982b2d88b457ce",
            "e20f0f6fe3a1abfd",
            "af255af7d76b3c79",
            "3ab25e811ca04d9f",
            "a80e81a1330618cb",
            "fa96a59338706780"
        ],
        "x": 2495,
        "y": 320,
        "wires": [
            [
                "062840f4143b168e"
            ]
        ]
    },
    {
        "id": "8560493c39f5b8e9",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 2975,
        "y": 460,
        "wires": []
    },
    {
        "id": "d6a58eda9dc91ce3",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 2375,
        "y": 640,
        "wires": []
    },
    {
        "id": "d56aba185dbdfded",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 2195,
        "y": 420,
        "wires": []
    },
    {
        "id": "42517cc3802f7abc",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 1975,
        "y": 380,
        "wires": []
    },
    {
        "id": "34a1738dbfcb8475",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 2415,
        "y": 200,
        "wires": []
    },
    {
        "id": "d27c0181d5a1f6d4",
        "type": "link in",
        "z": "1f79901475e24239",
        "name": "Send Mobile Message",
        "links": [
            "547820f8d93579f0",
            "90a1e55ed1fb5df8",
            "c196a08e4b245777",
            "33a751d9b831e996",
            "4b68ad06a9a2449e",
            "142ee85e4156e72c",
            "8e102a4b2283a0b7",
            "9211f4cab454ee4c",
            "91b66760d7c1e448",
            "634ccc30f857da01",
            "703d474406989b87",
            "ba337f24e89baab7",
            "c8fc11728d5b5573"
        ],
        "x": 2855,
        "y": 200,
        "wires": [
            [
                "35dc0904370e76c5"
            ]
        ]
    },
    {
        "id": "35dc0904370e76c5",
        "type": "rbe",
        "z": "1f79901475e24239",
        "name": "RBE",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "payload",
        "x": 2970,
        "y": 200,
        "wires": [
            [
                "1798c69f3b3a9896"
            ]
        ]
    },
    {
        "id": "547820f8d93579f0",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "d27c0181d5a1f6d4"
        ],
        "x": 3075,
        "y": 300,
        "wires": []
    },
    {
        "id": "1798c69f3b3a9896",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Notify phone",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": true,
        "domain": "notify",
        "service": "mobile_app_sm_g990e",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":msg.payload,\"title\":\"Energy info\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 3130,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "54a4906de409765a",
        "type": "rbe",
        "z": "1f79901475e24239",
        "name": "RBE",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "fit",
        "topi": "battery",
        "x": 650,
        "y": 440,
        "wires": [
            [
                "a7390269d6889937"
            ]
        ]
    },
    {
        "id": "cda1186bb65cf361",
        "type": "comment",
        "z": "1f79901475e24239",
        "name": "Set reserves on battery",
        "info": "",
        "x": 120,
        "y": 1720,
        "wires": []
    },
    {
        "id": "f09d9788e1abfa65",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Remove night battery reserve",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_reserved_soc_for_backup"
        ],
        "data": "{\"value\":0}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery reserve removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 430,
        "y": 1760,
        "wires": [
            [
                "142ee85e4156e72c"
            ]
        ]
    },
    {
        "id": "d94aab512c0dc90b",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "10pm",
        "props": [
            {
                "p": "hour",
                "v": "22",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1940,
        "wires": [
            [
                "f56b9c005ec9afd6"
            ]
        ]
    },
    {
        "id": "4b68ad06a9a2449e",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "Send message",
        "mode": "link",
        "links": [
            "d27c0181d5a1f6d4"
        ],
        "x": 905,
        "y": 1940,
        "wires": []
    },
    {
        "id": "142ee85e4156e72c",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "Send message",
        "mode": "link",
        "links": [
            "d27c0181d5a1f6d4"
        ],
        "x": 605,
        "y": 1760,
        "wires": []
    },
    {
        "id": "9211f4cab454ee4c",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "Send message",
        "mode": "link",
        "links": [
            "d27c0181d5a1f6d4"
        ],
        "x": 475,
        "y": 1820,
        "wires": []
    },
    {
        "id": "4926dab65f700d77",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Set 50% battery reserve",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_reserved_soc_for_backup"
        ],
        "data": "{\"value\":50}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery reserve removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 290,
        "y": 1820,
        "wires": [
            [
                "9211f4cab454ee4c"
            ]
        ]
    },
    {
        "id": "408d89eb496c7341",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "12pm",
        "props": [
            {
                "p": "hour",
                "v": "12",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1820,
        "wires": [
            [
                "4926dab65f700d77"
            ]
        ]
    },
    {
        "id": "ce868cc366f3a599",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "6pm",
        "props": [
            {
                "p": "hour",
                "v": "18",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "00 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1880,
        "wires": [
            [
                "e01960c7e090efd6"
            ]
        ]
    },
    {
        "id": "e01960c7e090efd6",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Remove 50% battery reserve",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_reserved_soc_for_backup"
        ],
        "data": "{\"value\":0}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery reserve removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 300,
        "y": 1880,
        "wires": [
            [
                "91b66760d7c1e448"
            ]
        ]
    },
    {
        "id": "91b66760d7c1e448",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "Send message",
        "mode": "link",
        "links": [
            "d27c0181d5a1f6d4"
        ],
        "x": 475,
        "y": 1880,
        "wires": []
    },
    {
        "id": "c4af8e6af0c99fb2",
        "type": "comment",
        "z": "1f79901475e24239",
        "name": "Notify if battery is low at 3pm",
        "info": "",
        "x": 820,
        "y": 1720,
        "wires": []
    },
    {
        "id": "62dc07e97f573029",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "3pm",
        "props": [
            {
                "p": "hour",
                "v": "15",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "00 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 770,
        "y": 1760,
        "wires": [
            [
                "79c13333702ecd83"
            ]
        ]
    },
    {
        "id": "79c13333702ecd83",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get Battery Level",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_level",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "battery",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 990,
        "y": 1760,
        "wires": [
            [
                "87f75f5816e2a18f"
            ]
        ]
    },
    {
        "id": "1d8dadb1f8604a17",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Notify phone",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": true,
        "domain": "notify",
        "service": "mobile_app_sm_g990e",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":msg.payload,\"title\":\"Solar Battery Level\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1450,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "87f75f5816e2a18f",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Prepare msg",
        "func": "if (msg.battery < 50) {\n    //node.warn(\"Not much battery charge left! Only \" + msg.battery)\n    msg.payload = \"WARNING: Battery level is currently at \" + msg.battery + \"%. CHARGE BATTERY!\";\n}\nelse {\n    //node.warn(\"Battery should be fine for demand period - is at \" + msg.battery)\n    msg.payload = \"Ok: Battery level is currently sufficient at \" + msg.battery + \"%\";\n}\n\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1760,
        "wires": [
            [
                "1d8dadb1f8604a17"
            ]
        ]
    },
    {
        "id": "a9c28b0fcb112541",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Export limit 100w",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_export_power_limit"
        ],
        "data": "{ \"value\": 100}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery export limit enforced",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 1250,
        "y": 1880,
        "wires": [
            [
                "703d474406989b87"
            ]
        ]
    },
    {
        "id": "17358c2a12d7b3ec",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "7:30am",
        "props": [
            {
                "p": "hour",
                "v": "730",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "30 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1040,
        "y": 1880,
        "wires": [
            [
                "a9c28b0fcb112541"
            ]
        ]
    },
    {
        "id": "e3187b64026de51a",
        "type": "comment",
        "z": "1f79901475e24239",
        "name": "Export limits",
        "info": "",
        "x": 1030,
        "y": 1840,
        "wires": []
    },
    {
        "id": "703d474406989b87",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "Send message",
        "mode": "link",
        "links": [
            "d27c0181d5a1f6d4"
        ],
        "x": 1445,
        "y": 1880,
        "wires": []
    },
    {
        "id": "9c198c69f017bbd4",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "5:30pm",
        "props": [
            {
                "p": "hour",
                "v": "1730",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "30 17 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1040,
        "y": 1940,
        "wires": [
            [
                "d296b6710d275953"
            ]
        ]
    },
    {
        "id": "d296b6710d275953",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Export limit 5kW",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_export_power_limit"
        ],
        "data": "{ \"value\": 5000}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery export limit removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 1250,
        "y": 1940,
        "wires": [
            [
                "ba337f24e89baab7"
            ]
        ]
    },
    {
        "id": "ba337f24e89baab7",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "Send message",
        "mode": "link",
        "links": [
            "d27c0181d5a1f6d4"
        ],
        "x": 1445,
        "y": 1940,
        "wires": []
    },
    {
        "id": "2b5d24213494b16e",
        "type": "comment",
        "z": "1f79901475e24239",
        "name": "Force Charge/Stop Buttons",
        "info": "",
        "x": 130,
        "y": 2020,
        "wires": []
    },
    {
        "id": "82191ad60e59fcb8",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Export limit 5kW",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_export_power_limit"
        ],
        "data": "{ \"value\": 5000}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery export limit removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 320,
        "y": 2060,
        "wires": [
            [
                "e4173165d700c2ce"
            ]
        ]
    },
    {
        "id": "e4173165d700c2ce",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Remove battery reserve",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_reserved_soc_for_backup"
        ],
        "data": "{\"value\":0}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery reserve removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 570,
        "y": 2060,
        "wires": [
            [
                "f908d56f984fefdd"
            ]
        ]
    },
    {
        "id": "f908d56f984fefdd",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "EMS Forced Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_ems_mode"
        ],
        "data": "{ \"option\": \"Forced mode\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 2060,
        "wires": [
            [
                "c77872d31e4c360c"
            ]
        ]
    },
    {
        "id": "c77872d31e4c360c",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Force discharge",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_battery_forced_charge_discharge_cmd"
        ],
        "data": "{ \"option\": \"Forced discharge\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1040,
        "y": 2060,
        "wires": [
            [
                "5e17133385b60f52"
            ]
        ]
    },
    {
        "id": "5e17133385b60f52",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "8kw Discharge Limit",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_forced_charge_discharge_power"
        ],
        "data": "{ \"value\": 8000 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Force discharge enabled",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 1260,
        "y": 2060,
        "wires": [
            [
                "43982b2d88b457ce"
            ]
        ]
    },
    {
        "id": "43982b2d88b457ce",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 1465,
        "y": 2060,
        "wires": []
    },
    {
        "id": "ca8d08f3ffd93afb",
        "type": "server-state-changed",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Force discharge now",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.force_discharge_now",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 2060,
        "wires": [
            [
                "82191ad60e59fcb8"
            ]
        ]
    },
    {
        "id": "1059460ec46efeca",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Export limit 0w",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_export_power_limit"
        ],
        "data": "{ \"value\": 0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery export limit removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 340,
        "y": 2200,
        "wires": [
            [
                "e5804da94ce16ea6"
            ]
        ]
    },
    {
        "id": "e5804da94ce16ea6",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Add 15% battery reserve",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_reserved_soc_for_backup"
        ],
        "data": "{\"value\":15}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery reserve of 15% added",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 570,
        "y": 2200,
        "wires": [
            [
                "70d5761c1fb6333c"
            ]
        ]
    },
    {
        "id": "70d5761c1fb6333c",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "EMS Self-Consumption Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_ems_mode"
        ],
        "data": "{ \"option\": \"Self-consumption mode (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 2200,
        "wires": [
            [
                "b4fc0e881c869958"
            ]
        ]
    },
    {
        "id": "b4fc0e881c869958",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Force discharge stop",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_battery_forced_charge_discharge_cmd"
        ],
        "data": "{ \"option\": \"Stop (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1080,
        "y": 2200,
        "wires": [
            [
                "c108a5b8d30d46a1"
            ]
        ]
    },
    {
        "id": "c108a5b8d30d46a1",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Remove Discharge Rate",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_forced_charge_discharge_power"
        ],
        "data": "{ \"value\": 0 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Force discharge stopped",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 1310,
        "y": 2200,
        "wires": [
            [
                "e20f0f6fe3a1abfd"
            ]
        ]
    },
    {
        "id": "e20f0f6fe3a1abfd",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 1465,
        "y": 2200,
        "wires": []
    },
    {
        "id": "f55759404fa94ca1",
        "type": "server-state-changed",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Stop force discharge now",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.stop_forced_discharge_100w_15",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 2200,
        "wires": [
            [
                "1059460ec46efeca"
            ]
        ]
    },
    {
        "id": "9057350bc34e3e51",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Export limit 5kW",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_export_power_limit"
        ],
        "data": "{ \"value\": 5000}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery export limit removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 340,
        "y": 2320,
        "wires": [
            [
                "a862699871b80429"
            ]
        ]
    },
    {
        "id": "a862699871b80429",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Add 50% battery reserve",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_reserved_soc_for_backup"
        ],
        "data": "{\"value\":50}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery reserve of 50% added",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 570,
        "y": 2320,
        "wires": [
            [
                "ceb4367c9712c7ae"
            ]
        ]
    },
    {
        "id": "ceb4367c9712c7ae",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "EMS Self-Consumption Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_ems_mode"
        ],
        "data": "{ \"option\": \"Self-consumption mode (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 2320,
        "wires": [
            [
                "704a7768c1ee3e9c"
            ]
        ]
    },
    {
        "id": "704a7768c1ee3e9c",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Force discharge stop",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_battery_forced_charge_discharge_cmd"
        ],
        "data": "{ \"option\": \"Stop (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1080,
        "y": 2320,
        "wires": [
            [
                "01befe94ce2ed57a"
            ]
        ]
    },
    {
        "id": "01befe94ce2ed57a",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Remove Discharge Rate",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_forced_charge_discharge_power"
        ],
        "data": "{ \"value\": 0 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Force discharge stopped",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 1310,
        "y": 2320,
        "wires": [
            [
                "af255af7d76b3c79"
            ]
        ]
    },
    {
        "id": "af255af7d76b3c79",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 1465,
        "y": 2320,
        "wires": []
    },
    {
        "id": "19644c74cf74a548",
        "type": "server-state-changed",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Stop force discharge now",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.stop_forced_dischage_now_5_5kw_50",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 2320,
        "wires": [
            [
                "9057350bc34e3e51"
            ]
        ]
    },
    {
        "id": "37a11b202c031ad2",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Export limit 5kW",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_export_power_limit"
        ],
        "data": "{ \"value\": 5000}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery export limit removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 340,
        "y": 2380,
        "wires": [
            [
                "59f768d6fc630c1a"
            ]
        ]
    },
    {
        "id": "59f768d6fc630c1a",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Remove battery reserve",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_reserved_soc_for_backup"
        ],
        "data": "{\"value\":0}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery reserve removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 570,
        "y": 2380,
        "wires": [
            [
                "a77ae180564d8bcf"
            ]
        ]
    },
    {
        "id": "a77ae180564d8bcf",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "EMS Self-Consumption Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_ems_mode"
        ],
        "data": "{ \"option\": \"Self-consumption mode (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 2380,
        "wires": [
            [
                "26f10edc35ac614f"
            ]
        ]
    },
    {
        "id": "26f10edc35ac614f",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Force discharge stop",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_battery_forced_charge_discharge_cmd"
        ],
        "data": "{ \"option\": \"Stop (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1080,
        "y": 2380,
        "wires": [
            [
                "8e3f1913b210b9e5"
            ]
        ]
    },
    {
        "id": "8e3f1913b210b9e5",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Remove Discharge Rate",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_forced_charge_discharge_power"
        ],
        "data": "{ \"value\": 0 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Force discharge stopped",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 1310,
        "y": 2380,
        "wires": [
            [
                "3ab25e811ca04d9f"
            ]
        ]
    },
    {
        "id": "3ab25e811ca04d9f",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 1465,
        "y": 2380,
        "wires": []
    },
    {
        "id": "f84da1f0c422d790",
        "type": "server-state-changed",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Stop force discharge now",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.stop_forced_discharge_5_5kw_0",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 2380,
        "wires": [
            [
                "37a11b202c031ad2"
            ]
        ]
    },
    {
        "id": "77770d855dd0222a",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Export limit 0w",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_export_power_limit"
        ],
        "data": "{ \"value\": 0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery export limit removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 340,
        "y": 2260,
        "wires": [
            [
                "69f03be9b7c03a6a"
            ]
        ]
    },
    {
        "id": "69f03be9b7c03a6a",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Removed battery reserve",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_reserved_soc_for_backup"
        ],
        "data": "{\"value\":0}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery reserve removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 570,
        "y": 2260,
        "wires": [
            [
                "5872eeb04572a2a8"
            ]
        ]
    },
    {
        "id": "5872eeb04572a2a8",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "EMS Self-Consumption Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_ems_mode"
        ],
        "data": "{ \"option\": \"Self-consumption mode (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 2260,
        "wires": [
            [
                "7a95433b813d999d"
            ]
        ]
    },
    {
        "id": "7a95433b813d999d",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Force discharge stop",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_battery_forced_charge_discharge_cmd"
        ],
        "data": "{ \"option\": \"Stop (default)\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1080,
        "y": 2260,
        "wires": [
            [
                "e006746b3c763c22"
            ]
        ]
    },
    {
        "id": "e006746b3c763c22",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Remove Discharge Rate",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_forced_charge_discharge_power"
        ],
        "data": "{ \"value\": 0 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Force discharge stopped",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 1310,
        "y": 2260,
        "wires": [
            [
                "a80e81a1330618cb"
            ]
        ]
    },
    {
        "id": "a80e81a1330618cb",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 1465,
        "y": 2260,
        "wires": []
    },
    {
        "id": "fc1ccfd52fb0e384",
        "type": "server-state-changed",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Stop force discharge now",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.stop_forced_discharge_100w_0",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 2260,
        "wires": [
            [
                "77770d855dd0222a"
            ]
        ]
    },
    {
        "id": "b5fb9a0518062196",
        "type": "server-state-changed",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Sunrise Trigger (-1.25hrs)",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.sunrise_trigger",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 1760,
        "wires": [
            [
                "f09d9788e1abfa65"
            ]
        ]
    },
    {
        "id": "1ff7ad2ca1d82a29",
        "type": "traffic",
        "z": "1f79901475e24239",
        "name": "allow_or_stop",
        "property_allow": "payload",
        "filter_allow": "true",
        "ignore_case_allow": true,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "false",
        "ignore_case_stop": true,
        "negate_stop": false,
        "send_stop": false,
        "default_start": true,
        "differ": false,
        "x": 400,
        "y": 180,
        "wires": [
            [
                "88971e4a8b4ea026"
            ]
        ]
    },
    {
        "id": "98f4a87328908a96",
        "type": "ha-switch",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Energy_control_switch",
        "version": 0,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 2,
        "entityConfig": "39a507ed6f81ba8d",
        "enableInput": false,
        "outputOnStateChange": true,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 160,
        "y": 120,
        "wires": [
            [
                "1ff7ad2ca1d82a29"
            ],
            [
                "1ff7ad2ca1d82a29"
            ]
        ]
    },
    {
        "id": "c94dc0e157e692bc",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Charge/discharge/shutdown",
        "func": "let today = new Date();\n//node.warn(\"hour now is \" + today.getHours());\n//node.warn(msg.current + \" and battery \" + msg.battery);\n//node.warn(msg.net_remaining+\";\"+msg.charge_required)\n//node.warn(msg.forecast_obj)\n\nlet forecasts = msg.forecast_obj.attributes.forecast;\nmsg.grid_forecasts = []\nmsg.fit_forecasts = []\n\nmsg.cheapest_grid_start = undefined\nmsg.best_fit_start = undefined\n\nmsg.time_blocks_grid = {}\nmsg.time_blocks_fit = {}\nmsg.cheapest_grid = 1000\nmsg.best_fit = -1000\nmsg.cheapest_grid_time = undefined\nmsg.best_fit_time = undefined\n\nlet grid_buy_price_day = msg.grid_buy_price_day / 100;\nlet grid_buy_price_night_spike_prep = msg.grid_buy_price_night_spike_prep / 100;\nlet grid_sell_price_day = msg.grid_sell_price_day / 100;\nlet grid_sell_price_night = msg.grid_sell_price_night / 100;\nlet grid_buy_price_day_spike_prep = msg.grid_buy_price_day_spike_prep / 100;\n\nlet minbuy4hrs = msg.minbuy4hrs;\n\nfor (let i=0; i<forecasts.length-4; i++) {\n    msg.grid_forecasts.push(forecasts[i].costsFlexUp);\n    msg.fit_forecasts.push(forecasts[i].earningsFlexUp);\n    if (msg.cheapest_grid > forecasts[i].costsFlexUp) {\n        msg.cheapest_grid_time = forecasts[i].intervalStart;      \n        msg.cheapest_grid = forecasts[i].costsFlexUp;\n    }\n    if (msg.best_fit < forecasts[i].earningsFlexUp) {\n        msg.best_fit_time = forecasts[i].intervalStart;\n        msg.best_fit = forecasts[i].earningsFlexUp;\n    }\n    msg.time_blocks_grid[forecasts[i].intervalStart] = 0\n    msg.time_blocks_fit[forecasts[i].intervalStart] = 0\n    for (let j=0; j<4; j++) {\n        msg.time_blocks_grid[forecasts[i].intervalStart] += forecasts[i+j].costsFlexUp\n        msg.time_blocks_fit[forecasts[i].intervalStart] += forecasts[i+j].earningsFlexUp\n    }\n    msg.time_blocks_grid[forecasts[i].intervalStart] = Number((msg.time_blocks_grid[forecasts[i].intervalStart]/6).toPrecision(2))\n    msg.time_blocks_fit[forecasts[i].intervalStart] = Number((msg.time_blocks_fit[forecasts[i].intervalStart]/6).toPrecision(2))\n\n    //node.warn(\"time_blocks_grid: \" + msg.time_blocks_grid[forecasts[i].intervalStart]);\n}\nlet cheapest_grid_block = 1000\n\nfor (let block in msg.time_blocks_grid) {\n    //node.warn(\"time_blocks_grid: \" + block);\n    let [hour,minute] = block.split('T')[1].split(\"+\")[0].split(\":\").slice(0, 2)\n    if (Number(hour) < 18 && msg.time_blocks_grid[block] < cheapest_grid_block) {\n        msg.cheapest_grid_start = [Number(hour),Number(minute)];\n        cheapest_grid_block = msg.time_blocks_grid[block]\n    }\n}\nlet best_fit_block = -1000\nfor (let block in msg.time_blocks_fit) {\n    let [hour,minute] = block.split('T')[1].split(\"+\")[0].split(\":\").slice(0, 2)\n    if (Number(hour) < 18 && msg.time_blocks_fit[block] > best_fit_block) {\n        msg.best_fit_start = [Number(hour),Number(minute)];\n        best_fit_block = msg.time_blocks_fit[block]\n    }\n}\n\nif (today.getHours() >= 0 && today.getHours() <= 4 && msg.current > 1) {\n    msg.decision = \"Price is really high between midnight and 5am, releasing battery reserve. Better to use battery now than buy.\";\n    msg.decisions.push(msg.decision)\n    return [null,null,null,msg]\n}\n\n// Charge up to 40% during the night if the price is cheapish (30c or less, roughly, from HASS slider) and upcoming sell price likely to be 60c or greater (from HASS), to get ready for potential morning shoulder higher feed-in tarrif\nif (today.getHours() >= 4 && today.getHours() < 5 && msg.current <= grid_buy_price_night_spike_prep && msg.battery < 40 && msg.maxsell4hrs > grid_sell_price_night) {\n    msg.decision = \"Opportunity to charge battery to 40% for shoulder period, battery is at\" + msg.battery + \"% and price is \" + msg.current\n    msg.decisions.push(msg.decision)\n    return [msg, null, null,null]\n}\n\n// node.warn(\"cheapest grid starting at \"+msg.cheapest_grid_start.join(\":\"));\n// node.warn(today.getHours() >= Number(msg.cheapcheapest_grid_startest_grid_start[0]))\n// node.warn(today.getMinutes() >= Number(msg.cheapest_grid_start[1]))\n// node.warn(msg)\n// less than or equal to 0 decisions\nif (msg.current <= 0) {\n    //if (msg.battery <= 98) {\n    //if (msg.battery <= 98 && (today.getHours() <16 || today.getHours() > 21)) {\n        // added next line to make sure that only buy when it is the cheapest part of the next 4 hrs (within 10% of the cheapest)\n    if (msg.battery <= 98 && msg.current <= (minbuy4hrs * .9) && (today.getHours() <16 || today.getHours() > 21)) {\n        // node.warn(\"FREE ELECTRICITY and battery <= 98\");\n        msg.decision = \"Paid to take electricity from grid, also lowest part of next 4 hrs, so fast charging\";\n        msg.decisions.push(msg.decision)\n        return [msg,null,null,null]\n    }\n    //shut down inverter\n    //else if (msg.current < -.03 && msg.forecast < 0) {\n    else if (msg.current < -.03 && msg.forecast < 0 && (today.getHours() < 16 || today.getHours() > 21)) {\n        // node.warn(\"Being paid more than 3c to use from grid, and forecast is negative too\");\n        msg.decision = \"Being paid more than 3c to use from grid, so shutting down inverter\";\n        msg.decisions.push(msg.decision)\n        return [null, null, msg, null]\n    }\n}\n\n// Check if battery is less than 50% charged at 3pm.\n// We need to prepare for the demand period at 6pm so get enough charge in the battery to get us through that peak.\n\nelse if (today.getHours() >= 14 && today.getHours() < 16 && msg.current <= grid_buy_price_day && msg.battery < 90) {\n    // If battery is under 90%, charge it up if the price is under roughly 25c/kWh (from HASS)\n    // node.warn(\"Need to charge battery to prepare for demand period since the battery is only at\" + msg.battery + \"%\")\n    msg.decision = \"Need to charge battery to 90% to prepare for upcomging demand period since the battery is only at\" + msg.battery +\"%\"\n    msg.decisions.push(msg.decision)\n    return [msg,null,null,null]\n}\n\n// Check if battery is less than 100% charged at 3pm and whether there is a major spike coming (definition, > $2/kWh sell price).\n// We need to prepare for this spike period, if true, so fully charge battery.\n// Will only charge if current price is 40c/kWh or below (defined in HASS)\n\nelse if (today.getHours() >= 15 && today.getHours() < 16 && msg.current <= grid_buy_price_day_spike_prep && msg.battery < 100 && msg.maxsell4hrs > grid_sell_price_day) {\n    // If battery is not fully charged, charge it up if the price is under roughly 40c/kWh (from HASS) because there is going to be a sell price of over roughly $2/kwh (from HASS) within the next 4 hours\n    // node.warn(\"Need to charge battery to prepare for demand period since the battery is only at\" + msg.battery + \"%\")\n    msg.decision = \"Need to charge battery to 100% to prepare for upcoming spike since the battery is only at\" + msg.battery + \"% and sell price expected to be up to $\" + msg.maxsell4hrs;\n    msg.decisions.push(msg.decision)\n    return [msg,null,null,null]\n}\n\n//very cheap power decisions\nelse if (msg.current <= .04 && msg.battery < 75 && today.getHours() > 12 && (today.getHours() < 16 || today.getHours() >= 21)) {\n    // node.warn(\"very cheap charging and battery low for afternoon\")\n    msg.decision = \"After 1pm, very cheap grid, battery low, so force-charging\";\n    msg.decisions.push(msg.decision)\n    return [msg, null, null, null]\n}\nelse if (msg.current <= .02 && msg.battery < 30 && today.getHours() < 7) {\n    // node.warn(\"very cheap charging and battery low for morning\")\n    msg.decision = \"Before 7am, very cheap grid, battery low, so force-charging\";\n    msg.decisions.push(msg.decision)\n    return [msg, null, null, null]\n}\nelse if (msg.current < grid_buy_price_day && msg.battery < 100 && msg.net_remaining <= 0 && today.getHours() > 10 && today.getHours() < 16) {\n    // node.warn(\"Little generation left and price is cheap so force charging\");\n    // grid_buy_price_day is taken from HASS slider\n    msg.decision = \"Between 10am and 4pm, < \" + grid_buy_price_day  + \", battery < 100, low generation remaining, so force-charging\";\n    msg.decisions.push(msg.decision)\n    return [msg, null, null, null]\n}\n// else if (msg.current <= .15 && msg.battery < 85 && msg.net_remaining < 1 && today.getHours() > 14 && today.getHours() < 16) {\n//     // node.warn(\"Little generation left and price is cheap so force charging\");\n//     msg.decision = \"Between 2pm and 4pm, <= 15c grid, battery <85, low generation remaining, so force-charging\";\n//     msg.decisions.push(msg.decision)\n//     return [msg, null, null, null]\n// }\n// msg.current < .10 && msg.battery < 100 && msg.net_remaining < 2 && \n// grid_buy_price_day is taken from HASS slider\nelse if (msg.current < grid_buy_price_day && msg.battery < 100 && msg.net_remaining < 1 && today.getHours() >= Number(msg.cheapest_grid_start[0]) && today.getHours() < (Number(msg.cheapest_grid_start[0])+3) && today.getMinutes() >= Number(msg.cheapest_grid_start[1])) {\n    if(today.getHours() > 8 && today.getHours() < 16) {\n    // node.warn(\"Not enough generation left to fully charge battery so force charging\");\n    msg.decision = \"In cheapest grid period, generation remaining not enough to charge battery, so force-charging\";\n    msg.decisions.push(msg.decision)\n    return [msg, null, null, null]\n    }\n}\nelse {\n    // node.warn(\"Not worth charging battery from grid, not worth shutting down inverter\");\n    msg.decision = \"Not worth charging battery from grid, not worth shutting down inverter\";\n    msg.decisions.push(msg.decision)\n    return [null, msg, null, null]\n}\n",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 520,
        "wires": [
            [
                "1e0405e3b06bc673"
            ],
            [
                "143d940c9f69e862"
            ],
            [
                "665ebca3a7b8ab6f"
            ],
            [
                "a2bb25ccd14303cd"
            ]
        ]
    },
    {
        "id": "40b6e7315decf964",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Get forecast high/low sell price 4hrs",
        "func": "let forecasts = msg.forecast_obj.attributes.forecast;\n\nlet sellprice = null;\nlet maxsellprice = null;\nlet minsellprice = null;\n\n// 48 = 4hrs of 5min intervals\n\n// temp\nmaxsellprice = forecasts[0].earningsFlexUp;\nminsellprice = forecasts[0].earningsFlexUp;\n\n//for (let i = 0; i <= 47; i++) {\nfor (let i = 1; i <= 47; i++) {\n    sellprice = forecasts[i].earningsFlexUp;\n\n    if (sellprice > maxsellprice) {\n        maxsellprice = sellprice;\n    }\n    \n    if (sellprice < minsellprice) {\n        minsellprice = sellprice;\n    }\n}\n\nmsg.maxsell4hrs = maxsellprice;\nmsg.minsell4hrs = minsellprice;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 580,
        "wires": [
            [
                "a84e2cbb7703af0e",
                "7bc54d721e73b783"
            ]
        ]
    },
    {
        "id": "14b839f019218946",
        "type": "inject",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Every 15 mins",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1260,
        "y": 800,
        "wires": [
            [
                "c9961168023432ac"
            ]
        ]
    },
    {
        "id": "1bc71fad617d964a",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Full Battery Hour",
        "func": "let remaining_generation = flow.get(\"remaining_today\");\nlet baseline_consumption = flow.get(\"baseline_consumption\");\n\nlet battery_charge = msg.battery_charge;\nlet battery_charge_required = null;\nlet battery_capacity = 19.2;\nlet battery_level = msg.battery_level;\n\nlet battery_full_hour = null;\n\nlet today = new Date();\nlet current_hour = today.getHours();\nlet sundown_hour = 17;\n\nmsg.expected_consumption_remaining = 0;\nmsg.expected_generation_remaining = 0;\n\nbattery_charge_required = battery_capacity - battery_charge;\n\nlet consumption_minus_generating_remaining = 0;\n\nfor (let hour in baseline_consumption) {\n    if (Number(hour) >= current_hour && Number(hour) < sundown_hour) {\n        let consumption_this_hour = (baseline_consumption[hour] / 1000);\n        msg.expected_consumption_remaining += consumption_this_hour;\n        if (remaining_generation.hasOwnProperty(hour) && remaining_generation[hour]) {\n            msg.expected_generation_remaining += Number(remaining_generation[hour]);\n            consumption_minus_generating_remaining += Number(remaining_generation[hour]) - consumption_this_hour;\n\n            // Work out what hour we will have a 100% battery\n            battery_charge_required = battery_charge_required - remaining_generation[hour];\n\n            if(battery_charge_required <= 0)\n                {\n                battery_full_hour = Number(hour) + 1;\n                break;\n                }\n        }\n    }\n    else\n    {\n        battery_full_hour = 99;\n    }\n}\n\nmsg.battery_full_hour = battery_full_hour;\n\nmsg.payload = {\n    data: {\n        state: msg.battery_full_hour,\n        entity_id: `sensor.battery_hour_full`,\n        attributes: {\n            'name': 'battery_hour_full',\n            'entries': [\n                {'title': 'BATTERY_HOUR_FULL', battery_full_hour}\n            ],\n            friendly_name: 'Battery hour when full',\n            icon: 'mdi:battery-high'\n        }\n    }\n};\n\nreturn [{payload: msg.payload, entity_id: 'sensor.battery_hour_full'}];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 800,
        "wires": [
            [
                "d0ceaa410fd94c99"
            ]
        ]
    },
    {
        "id": "c9961168023432ac",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get Battery Charge",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_charge",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "battery_charge",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1470,
        "y": 800,
        "wires": [
            [
                "3ac6ae0cdf20548f"
            ]
        ]
    },
    {
        "id": "d0ceaa410fd94c99",
        "type": "ha-api",
        "z": "1f79901475e24239",
        "name": "sensor",
        "server": "5165f8c6.cc4798",
        "version": 1,
        "debugenabled": false,
        "protocol": "http",
        "method": "post",
        "path": "/api/states/{{entity_id}}",
        "data": "",
        "dataType": "json",
        "responseType": "text",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 2090,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "8b89de6195a27565",
        "type": "comment",
        "z": "1f79901475e24239",
        "name": "When will battery be fully charged?",
        "info": "",
        "x": 1300,
        "y": 760,
        "wires": []
    },
    {
        "id": "2eca2b582c69e8ed",
        "type": "within-time-switch",
        "z": "1f79901475e24239",
        "name": "8am-8:05am",
        "nameInt": "",
        "positionConfig": "5e71c4ffa9baa60b",
        "startTime": "08:00",
        "startTimeType": "entered",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "08:05",
        "endTimeType": "entered",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeRestrictions": 0,
        "timeRestrictionsType": "none",
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "withinTimeValue": "",
        "withinTimeValueType": "msgInput",
        "outOfTimeValue": "false",
        "outOfTimeValueType": "msgInput",
        "tsCompare": "0",
        "x": 2910,
        "y": 280,
        "wires": [
            [
                "547820f8d93579f0"
            ],
            []
        ]
    },
    {
        "id": "b94be246755eb502",
        "type": "within-time-switch",
        "z": "1f79901475e24239",
        "name": "12pm-12:05pm",
        "nameInt": "",
        "positionConfig": "5e71c4ffa9baa60b",
        "startTime": "12:00",
        "startTimeType": "entered",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "12:05",
        "endTimeType": "entered",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeRestrictions": 0,
        "timeRestrictionsType": "none",
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "withinTimeValue": "",
        "withinTimeValueType": "msgInput",
        "outOfTimeValue": "false",
        "outOfTimeValueType": "msgInput",
        "tsCompare": "0",
        "x": 2920,
        "y": 340,
        "wires": [
            [
                "547820f8d93579f0"
            ],
            []
        ]
    },
    {
        "id": "1c4d3dd270178eb5",
        "type": "server-state-changed",
        "z": "1f79901475e24239",
        "d": true,
        "name": "Force charge now",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_button.force_charge_now",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 2120,
        "wires": [
            [
                "7ee7d1c2a836ad2a"
            ]
        ]
    },
    {
        "id": "7ee7d1c2a836ad2a",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "EMS Forced Mode",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_ems_mode"
        ],
        "data": "{ \"option\": \"Forced mode\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 330,
        "y": 2120,
        "wires": [
            [
                "b87c4b540e8a49c3"
            ]
        ]
    },
    {
        "id": "b87c4b540e8a49c3",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Force charge",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.set_sg_battery_forced_charge_discharge_cmd"
        ],
        "data": "{ \"option\": \"Forced charge\" }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 530,
        "y": 2120,
        "wires": [
            [
                "e0dcf5ea0015dca5"
            ]
        ]
    },
    {
        "id": "e0dcf5ea0015dca5",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "10kw Charge Limit",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_forced_charge_discharge_power"
        ],
        "data": "{ \"value\": 10000 }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Force charge enabled",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 830,
        "y": 2120,
        "wires": [
            [
                "fa96a59338706780"
            ]
        ]
    },
    {
        "id": "fa96a59338706780",
        "type": "link out",
        "z": "1f79901475e24239",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "8baa8f9994565d39"
        ],
        "x": 985,
        "y": 2120,
        "wires": []
    },
    {
        "id": "83a462cd6ec30a9e",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get buy price for prep (day)",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.grid_buy_price_day",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "grid_buy_price_day",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 860,
        "y": 700,
        "wires": [
            [
                "fee6bd8e19c9b4ad"
            ]
        ]
    },
    {
        "id": "fee6bd8e19c9b4ad",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get buy price for spike prep (night)",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.grid_buy_price_night_spike_prep",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "grid_buy_price_night_spike_prep",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 620,
        "y": 640,
        "wires": [
            [
                "441e81bd777ee6ac"
            ]
        ]
    },
    {
        "id": "fd271ddeb3679d0d",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get sell price for spike (night)",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.grid_sell_price_night",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "grid_sell_price_night",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 660,
        "y": 580,
        "wires": [
            [
                "fd225c35e0949eea"
            ]
        ]
    },
    {
        "id": "fd225c35e0949eea",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get sell price for spile (Day)",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.grid_sell_price_day",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "grid_sell_price_day",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 940,
        "y": 580,
        "wires": [
            [
                "8fd0959b9343441b"
            ]
        ]
    },
    {
        "id": "441e81bd777ee6ac",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get buy price for spike prep (day)",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.grid_buy_price_day_spike_prep",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "grid_buy_price_day_spike_prep",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 940,
        "y": 640,
        "wires": [
            [
                "fd271ddeb3679d0d"
            ]
        ]
    },
    {
        "id": "a84e2cbb7703af0e",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Get forecast high/low buy price 4hrs",
        "func": "let forecasts = msg.forecast_obj.attributes.forecast;\nlet buyprice = null;\nlet minbuyprice = null;\nlet maxbuyprice = null;\n\nmaxbuyprice = forecasts[0].costsFlexUp;\nminbuyprice = forecasts[0].costsFlexUp;\n\n// 48 = 4hrs of 5min intervals\nfor (let i = 1; i <= 47; i++) {\n    buyprice = forecasts[i].costsFlexUp;\n\n    if (buyprice < minbuyprice) {\n        minbuyprice = buyprice;\n    }\n    if (buyprice > maxbuyprice) {\n        maxbuyprice = buyprice;\n    }\n}\n\n//msg.realminbuy4hrs = minbuyprice;\n//msg.realmaxbuy4hrs = maxbuyprice;\n\n//if (minbuyprice < 0) {\n//    // take 80% of the lowest price as we don't want to wait for the exact lowest, as it may only be for 5 mins!\n//    // so treat 80% of the lowest price as an ok price to buy at\n//    minbuyprice = minbuyprice * .8; // get 80% of minimum, price ok then as lowest may not stay\n//    }\n// Keep min buy price as is, if above zero\n \nmsg.minbuy4hrs = minbuyprice;\nmsg.maxbuy4hrs = maxbuyprice;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 700,
        "wires": [
            [
                "83a462cd6ec30a9e",
                "d10c298c52ddfd40"
            ]
        ]
    },
    {
        "id": "d10c298c52ddfd40",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Update buy sensors",
        "func": "let lowestbuy4hrs = msg.minbuy4hrs;\nlet highestbuy4hrs = msg.maxbuy4hrs;\n\nmsg.payloadlow = {\n    data: {\n        state: msg.minbuy4hrs,\n        entity_id: `sensor.lowestbuy4hrs`,\n        attributes: {\n            'name': 'lowest_buy_4hrs',\n            'entries': [\n                {'title': 'LOWEST_BUY_4HRS', lowestbuy4hrs}\n            ],\n            friendly_name: 'Lowest buy price in next 4hrs',\n            icon: 'mdi:currency-usd'\n        }\n    }\n}\n\nmsg.payloadhigh = {\n    data: {\n        state: msg.maxbuy4hrs,\n        entity_id: `sensor.highestbuy4hrs`,\n        attributes: {\n            'name': 'highest_buy_4hrs',\n            'entries': [\n                { 'title': 'HIGHEST_BUY_4HRS', highestbuy4hrs }\n            ],\n            friendly_name: 'Highest buy price in next 4hrs',\n            icon: 'mdi:currency-usd'\n        }\n    }\n}\n    \nreturn [\n    {payload: msg.payloadlow, entity_id: 'sensor.lowestbuy4hrs'},\n    {payload: msg.payloadhigh, entity_id: 'sensor.highestbuy4hrs'}\n    ];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 760,
        "wires": [
            [
                "f7a0641fa8750436"
            ],
            [
                "f7a0641fa8750436"
            ]
        ]
    },
    {
        "id": "f7a0641fa8750436",
        "type": "ha-api",
        "z": "1f79901475e24239",
        "name": "sensor",
        "server": "5165f8c6.cc4798",
        "version": 1,
        "debugenabled": false,
        "protocol": "http",
        "method": "post",
        "path": "/api/states/{{entity_id}}",
        "data": "",
        "dataType": "json",
        "responseType": "text",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 690,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "7bc54d721e73b783",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Update sell sensors",
        "func": "let highestsell4hrs = msg.maxsell4hrs\nlet lowestsell4hrs = msg.minsell4hrs\n\nmsg.payloadhigh = {\n    data: {\n        state: msg.maxsell4hrs,\n        entity_id: `sensor.highestsell4hrs`,\n        attributes: {\n            'name': 'highest_sell_4hrs',\n            'entries': [\n                {'title': 'HIGHEST_SELL_4HRS', highestsell4hrs}\n            ],\n            friendly_name: 'Highest sell price in next 4hrs',\n            icon: 'mdi:currency-usd'\n        }\n    }\n}\n\nmsg.payloadlow = {\n    data: {\n        state: msg.minsell4hrs,\n        entity_id: `sensor.lowestsell4hrs`,\n        attributes: {\n            'name': 'lowest_sell_4hrs',\n            'entries': [\n                {'title': 'LOWEST_SELL_4HRS', lowestsell4hrs}\n            ],\n            friendly_name: 'Lowest sell price in next 4hrs',\n            icon: 'mdi:currency-usd'\n        }\n    }\n}\n\nreturn [\n    {payload: msg.payloadhigh, entity_id: 'sensor.highestsell4hrs'},\n    {payload: msg.payloadlow, entity_id: 'sensor.lowestsell4hrs'}\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 640,
        "wires": [
            [
                "c5ccf1f087bac790"
            ],
            [
                "c5ccf1f087bac790"
            ]
        ]
    },
    {
        "id": "c5ccf1f087bac790",
        "type": "ha-api",
        "z": "1f79901475e24239",
        "name": "sensor",
        "server": "5165f8c6.cc4798",
        "version": 1,
        "debugenabled": false,
        "protocol": "http",
        "method": "post",
        "path": "/api/states/{{entity_id}}",
        "data": "",
        "dataType": "json",
        "responseType": "text",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 330,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3ac6ae0cdf20548f",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get Battery Level",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_level",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "battery_level",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1690,
        "y": 800,
        "wires": [
            [
                "1bc71fad617d964a"
            ]
        ]
    },
    {
        "id": "c3f646536cb33408",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "battery reserve",
        "func": "let forecast_tomorrow = msg.forecast_tomorrow;\n\nif (forecast_tomorrow >= 65) {\n    msg.battery_reserve = 12;\n}\nelse {\n    msg.battery_reserve = 15;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1940,
        "wires": [
            [
                "3759548e39a2c10e"
            ]
        ]
    },
    {
        "id": "f56b9c005ec9afd6",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Check tomorrow solar forecast",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.solcast_pv_forecast_forecast_tomorrow",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "forecast_tomorrow",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 1940,
        "wires": [
            [
                "c3f646536cb33408"
            ]
        ]
    },
    {
        "id": "3759548e39a2c10e",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Set night battery reserve",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_reserved_soc_for_backup"
        ],
        "data": "{\"value\": {{battery_reserve}} }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery reserve set until 5am'ish",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 750,
        "y": 1940,
        "wires": [
            [
                "4b68ad06a9a2449e"
            ]
        ]
    },
    {
        "id": "8de58ce7a9236290",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "export from battery?",
        "func": "let today = new Date();\n//node.warn(\"hour now is \" + today.getHours());\n\nmsg.baseline_consumption = flow.get(\"baseline_consumption\");\n// node.warn(\"baseline consumption=\" + msg.baseline_consumption)\n\nlet forecasts = msg.forecast_obj.attributes.forecast;\nlet aggressive_buy_sell_diff = msg.aggressive_buy_sell_diff / 100;\nlet basesellprice = msg.fit - aggressive_buy_sell_diff;\n//node.warn(aggressive_buy_sell_diff);\n//node.warn(basesellprice);\n\nif(msg.aggressive_mode = \"on\" && today.getHours() >= 16 && today.getHours() <= 23) {\n    // AGGRESSIVE MODE\n    // Aggressively sell between 4pm and 12 midnight, **IF** the predicted buy price roughly between 12-4am is going to be 15c (configurable) lower than the sell price at the present time.\n    // It is better to sell the energy now and just use from the grid if you can get more money for it now, and it's cheaper later. It's not going to recharge the battery as\n    // that would increase the daily cycles of the battery. It is only going to sell to get more more money now because we'll pay less to replace the already discharged energy. \n    // energy later on.\n    //\n    // It will only do this if there is sufficient battery remaining to get you through to the small hours when the price should be cheaper.\n    //\n    // This logic will be skipped if the pricing during the night is too expensive, as it is better to use your own energy to get you through the more expensive period.\n    // Unlikely though, but still possible.\n    let summed = 0;\n    let buyaverage = 0;\n    let buyprice = 0;\n    let aggressive_buy_sell_diff = msg.aggressive_buy_sell_diff / 100;\n    let basesellprice = msg.fit - aggressive_buy_sell_diff;\n  \n    if (today.getHours() >= 16 && today.getHours() < 17 && msg.battery >= 70) {\n        // 12 = 1hr of 5min intervals\n        // If the time now is 4pm, that is 8hrs until midnight, so 12*8 = 96 iterations before we get to midnight. Add on 4hrs (48 iterations).\n        for (let i = 97; i < 145; i++) {\n            buyprice = forecasts[i].costsFlexUp;\n            summed = summed + buyprice;\n        }\n        buyaverage = summed / 48;\n\n        if(basesellprice >= buyaverage) {\n            // It is worth selling now as it is still 15c higher per kW than what it will cost to buy it between 12-4am when the battery will most likely be depleted.\n            //node.warn(\"Fit is \" + msg.fit + \", Average buy during night is \" + buyaverage + \" - exporting\");\n            msg.decision = \"FIT is higher now than buy during night (\" + msg.fit + \"c vs \" + buyaverage + \"c), so forcing export\";\n            msg.decisions.push(msg.decision)\n            return [msg, null]\n        }\n    }\n    else if (today.getHours() >= 17 && today.getHours() < 18 && msg.battery >= 60) {\n        // 12 = 1hr of 5min intervals\n        // If the time now is 5pm, that is 7hrs until midnight, so 12*7 = 84 iterations before we get to midnight. Add on 4hrs (48 iterations).\n        for (let i = 85; i < 133; i++) {\n            buyprice = forecasts[i].costsFlexUp;\n            summed = summed + buyprice;\n        }\n        buyaverage = summed / 48;\n\n        if(basesellprice >= buyaverage) {\n            // It is worth selling now as it is still 15c higher per kW than what it will cost to buy it between 12-4am when the battery will most likely be depleted.\n            //node.warn(\"Fit is \" + msg.fit + \", Average buy during night is \" + buyaverage + \" - exporting\");\n            msg.decision = \"FIT is higher now than buy during night (\" + msg.fit + \"c vs \" + buyaverage + \"c), so forcing export\";\n            msg.decisions.push(msg.decision)\n            return [msg, null]\n        }\n    }\n    else if (today.getHours() >= 18 && today.getHours() < 19 && msg.battery >= 45) {\n        // 12 = 1hr of 5min intervals\n        // If the time now is 6pm, that is 6hrs until midnight, so 12*6 = 72 iterations before we get to midnight. Add on 4hrs (48 iterations).\n        for (let i = 73; i < 121; i++) {\n            buyprice = forecasts[i].costsFlexUp;\n            summed = summed + buyprice;\n        }\n        buyaverage = summed / 48;\n\n        if(basesellprice >= buyaverage) {\n            // It is worth selling now as it is still 15c higher per kW than what it will cost to buy it between 12-4am when the battery will most likely be depleted.\n            //node.warn(\"Fit is \" + msg.fit + \", Average buy during night is \" + buyaverage + \" - exporting\");\n            msg.decision = \"FIT is higher now than buy during night (\" + msg.fit + \"c vs \" + buyaverage + \"c), so forcing export\";\n            msg.decisions.push(msg.decision)\n            return [msg, null]\n        }\n    }\n    else if (today.getHours() >= 19 && today.getHours() < 20 && msg.battery >= 42) {\n        // 12 = 1hr of 5min intervals\n        // If the time now is 7pm, that is 5hrs until midnight, so 12*5 = 60 iterations before we get to midnight. Add on 4hrs (48 iterations).\n        for (let i = 61; i < 109; i++) {\n            buyprice = forecasts[i].costsFlexUp;\n            summed = summed + buyprice;\n        }\n        buyaverage = summed / 48;\n\n        if(basesellprice >= buyaverage) {\n            // It is worth selling now as it is still 15c higher per kW than what it will cost to buy it between 12-4am when the battery will most likely be depleted.\n            //node.warn(\"Fit is \" + msg.fit + \", Average buy during night is \" + buyaverage + \" - exporting\");\n            msg.decision = \"FIT is higher now than buy during night (\" + msg.fit + \"c vs \" + buyaverage + \"c), so forcing export\";\n            msg.decisions.push(msg.decision)\n            return [msg, null]\n        }\n    }\n    else if (today.getHours() >= 20 && today.getHours() < 21 && msg.battery >= 40) {\n        // 12 = 1hr of 5min intervals\n        // If the time now is 8pm, that is 4hrs until midnight, so 12*4 = 48 iterations before we get to midnight. Add on 4hrs (48 iterations).\n        for (let i = 49; i < 97; i++) {\n            buyprice = forecasts[i].costsFlexUp;\n            summed = summed + buyprice;\n        }\n        buyaverage = summed / 48;\n\n        if(basesellprice >= buyaverage) {\n            // It is worth selling now as it is still 15c higher per kW than what it will cost to buy it between 12-4am when the battery will most likely be depleted.\n            //node.warn(\"Fit is \" + msg.fit + \", Average buy during night is \" + buyaverage + \" - exporting\");\n            msg.decision = \"FIT is higher now than buy during night (\" + msg.fit + \"c vs \" + buyaverage + \"c), so forcing export\";\n            msg.decisions.push(msg.decision)\n            return [msg, null]\n        }\n    }\n    else if (today.getHours() >= 21 && today.getHours() < 22 && msg.battery >= 30) {\n        // 12 = 1hr of 5min intervals\n        // If the time now is 9pm, that is 3hrs until midnight, so 12*3 = 36 iterations before we get to midnight. Add on 4hrs (48 iterations).\n        for (let i = 37; i < 85; i++) {\n            buyprice = forecasts[i].costsFlexUp;\n            summed = summed + buyprice;\n        }\n        buyaverage = summed / 48;\n\n        if(basesellprice >= buyaverage) {\n            // It is worth selling now as it is still 15c higher per kW than what it will cost to buy it between 12-4am when the battery will most likely be depleted.\n            //node.warn(\"Fit is \" + msg.fit + \", Average buy during night is \" + buyaverage + \" - exporting\");\n            msg.decision = \"FIT is higher now than buy during night (\" + msg.fit + \"c vs \" + buyaverage + \"c), so forcing export\";\n            msg.decisions.push(msg.decision)\n            return [msg, null]\n        }\n    }\n    else if (today.getHours() >= 22 && today.getHours() < 23 && msg.battery >= 25) {\n        // 12 = 1hr of 5min intervals\n        // If the time now is 10pm, that is 2hrs until midnight, so 12*2 = 24 iterations before we get to midnight. Add on 4hrs (48 iterations).\n        for (let i = 25; i < 73; i++) {\n            buyprice = forecasts[i].costsFlexUp;\n            summed = summed + buyprice;\n        }\n        buyaverage = summed / 48;\n\n        if(basesellprice >= buyaverage) {\n            // It is worth selling now as it is still 15c higher per kW than what it will cost to buy it between 12-4am when the battery will most likely be depleted.\n            //node.warn(\"Fit is \" + msg.fit + \", Average buy during night is \" + buyaverage + \" - exporting\");\n            msg.decision = \"FIT is higher now than buy during night (\" + msg.fit + \"c vs \" + buyaverage + \"c), so forcing export\";\n            msg.decisions.push(msg.decision)\n            return [msg, null]\n        }\n    }\n    else if (today.getHours() == 23  && msg.battery >= 20) {\n        // 12 = 1hr of 5min intervals\n        // If the time now is 11pm, that is 1hr until midnight, so 12*1 = 12 iterations before we get to midnight. Add on 4hrs (48 iterations).\n        for (let i = 13; i < 61; i++) {\n            buyprice = forecasts[i].costsFlexUp;\n            summed = summed + buyprice;\n        }\n        buyaverage = summed / 48;\n\n        if(basesellprice >= buyaverage) {\n            // It is worth selling now as it is still 15c higher per kW than what it will cost to buy it between 12-4am when the battery will most likely be depleted.\n            //node.warn(\"Fit is \" + msg.fit + \", Average buy during night is \" + buyaverage + \" - exporting\");\n            msg.decision = \"FIT is higher now than buy during night (\" + msg.fit + \"c vs \" + buyaverage + \"c), so forcing export\";\n            msg.decisions.push(msg.decision)\n            return [msg, null]\n        }\n    }\n    else if (today.getHours() >= 16 && today.getHours() <= 23) {\n        //node.warn(\"Not worth exporting from battery: \" + msg.fit + \" battery: \" + msg.battery);\n        msg.decision = \"Not worth exporting from battery.\";\n        msg.decisions.push(msg.decision)\n        return [null,msg]\n    }\n}\n\n// Continue with the following and see if other criteria are met, e.g., during other times of day\nif (msg.fit >= .3 && msg.battery > 10 && today.getHours() >= 6 && today.getHours() < 8) {\n    // node.warn(\"Morning peak occurring, battery at \" + msg.battery + \"%, between 6-8am, FIT \" + msg.fit);\n    msg.decision = \"Morning peak occurring (>=30c,>10%), battery at \" + msg.battery + \"%, between 6-8am, FIT \" + msg.fit;\n    msg.decisions.push(msg.decision)\n    return [msg, null]\n}\nelse if (msg.fit > 1 && msg.battery > 40) {\n    // node.warn(\"Extremely high FIT and limited capacity: \" + msg.fit);\n    msg.decision = \"Extremely high FIT (>=$1,>40%), so forcing discharge\";\n    msg.decisions.push(msg.decision)\n    return [msg, null]\n}\nelse if (msg.fit >= .6 && msg.battery > 50) {\n    // node.warn(\"Very high FIT and some capacity: \" + msg.fit);\n    msg.decision = \"Very high FIT (>=60c,>50%), so forcing discharge\";\n    msg.decisions.push(msg.decision)\n    return [msg, null]\n}\nelse if (msg.fit >= .5 && msg.battery > 60) {\n    // node.warn(\"Great FIT and available capacity: \" + msg.fit);\n    msg.decision = \"High FIT (>=50c,>60%), so forcing discharge\";\n    msg.decisions.push(msg.decision)\n    return [msg, null]\n}\nelse if (msg.fit >= .4 && msg.battery > 70) {\n    // node.warn(\"Reasonable FIT and available capacity: \"+msg.fit);\n    msg.decision = \"Moderate FIT (>=40c,>70%), so forcing discharge\";\n    msg.decisions.push(msg.decision)\n    return [msg, null]\n}\nelse if (msg.fit >= .3 && msg.battery > 80) {\n    // node.warn(\"Tolerable FIT and available capacity: \" + msg.fit);\n    msg.decision = \"Acceptable FIT (>=30c,>80%), so forcing discharge\";\n    msg.decisions.push(msg.decision)\n    return [msg, null]\n}\nelse {\n    // node.warn(\"Not worth exporting from battery: \" + msg.fit);\n    msg.decision = \"Not worth exporting from battery.\";\n    msg.decisions.push(msg.decision)\n    return [null,msg]\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 380,
        "wires": [
            [
                "5d74e58926c8af7a"
            ],
            [
                "0a032d105b8d9da9"
            ]
        ]
    },
    {
        "id": "6623170110326545",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get Forecast",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.forecast",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "forecast",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "forecast_obj",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 890,
        "y": 200,
        "wires": [
            [
                "0b3677b9c3adf193"
            ]
        ]
    },
    {
        "id": "f037f8209abd4d95",
        "type": "ha-switch",
        "z": "1f79901475e24239",
        "name": "Agressive mode switch",
        "version": 0,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 2,
        "entityConfig": "d4db2a13c2eff92e",
        "enableInput": false,
        "outputOnStateChange": false,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 560,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0b3677b9c3adf193",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Aggressive state",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.aggressive_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "aggressive_mode",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 910,
        "y": 260,
        "wires": [
            [
                "210241cbc1a29fb5"
            ]
        ]
    },
    {
        "id": "210241cbc1a29fb5",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get aggressive buy-sell diff",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.aggressive_sell_buy_diff",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "aggressive_buy_sell_diff",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 940,
        "y": 320,
        "wires": [
            [
                "8de58ce7a9236290"
            ]
        ]
    },
    {
        "id": "a2bb25ccd14303cd",
        "type": "api-call-service",
        "z": "1f79901475e24239",
        "name": "Remove battery reserve",
        "server": "5165f8c6.cc4798",
        "version": 5,
        "debugenabled": false,
        "domain": "input_number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.set_sg_reserved_soc_for_backup"
        ],
        "data": "{\"value\":0}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Battery reserve removed",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 1230,
        "y": 640,
        "wires": [
            [
                "143d940c9f69e862"
            ]
        ]
    },
    {
        "id": "062840f4143b168e",
        "type": "function",
        "z": "1f79901475e24239",
        "name": "Append to decision log",
        "func": "let msg2 = {}\nlet now = new Date();\nlet timestamp = now.getHours().toString().padStart(2, '0') + \":\" + now.getMinutes().toString().padStart(2, '0');\nlet datestamp = now.getDate().toString().padStart(2, '0') + \"-\" + (now.getMonth()+1).toString().padStart(2, '0') + \"-\" + now.getFullYear();\n\nmsg.filename = \"/config/node-red/decision_logs/\"+datestamp+\".csv\";\n\nlet cheap_grid_start = \"\";\nif (msg.cheapest_grid_start){\n    let peak_gen_kwh = flow.get(\"peak_gen_kwh\");\n    let peak_gen_time = flow.get(\"peak_gen_time\");\n    let forecast_pv_today = flow.get(\"forecast_pv_today\");\n    //node.warn(forecast_pv_today);\n    let remaining_pv = msg.net_remaining.toPrecision(3);\n    // let remaining_pv_label = remaining_pv > 0 ? \"Spare PV\" : \"Needed from Grid\";\n    let solar_emoji = \"\";\n    if (forecast_pv_today > 65) {\n        solar_emoji = \" \";\n    }\n    else if (forecast_pv_today > 50) {\n        solar_emoji = \" \";\n    }\n    else if (forecast_pv_today > 40) {\n        solar_emoji = \" \";\n    }\n    else {\n        solar_emoji = \" \";\n    }\n    let expected_tomorrow = flow.get(\"expected_tomorrow\");\n    let tomorrow_solar_emoji = \"\";\n    if (expected_tomorrow > 65) {\n        tomorrow_solar_emoji = \" \";\n    }\n    else if (expected_tomorrow > 50) {\n        tomorrow_solar_emoji = \" \";\n    }\n    else if (expected_tomorrow > 40) {\n        tomorrow_solar_emoji = \" \";\n    }\n    else {\n        tomorrow_solar_emoji = \" \";\n    }\n//${remaining_pv_label}: ${remaining_pv}kWh\n\n\n    // Time from LocalVolts is UTC/Zulu, so need to put in right hour\n    if(msg.cheapest_grid_start[0] >= 14) {\n        msg.cheapest_grid_start[0] = msg.cheapest_grid_start[0] - 14;\n        }\n    else {\n        msg.cheapest_grid_start[0] = msg.cheapest_grid_start[0] + 10;\n    }\n\n    cheap_grid_start = msg.cheapest_grid_start[0].toString().padStart(2, '0') + \":\" + msg.cheapest_grid_start[1].toString().padStart(2, '0');\n    msg2 = { payload: `PV forecast: ${forecast_pv_today} kWh ${solar_emoji}\n* Peak PV ${peak_gen_kwh} kWh at ${peak_gen_time}\n* Cheapest grid ${msg.cheapest_grid}c around ${cheap_grid_start}\nTomorrow's PV forecast: ${expected_tomorrow} kWh ${tomorrow_solar_emoji}`}\n}\n\nlet data = [timestamp];\nif (msg.battery_w) {\n    data.push(\"Curtailment\")\n}\nelse {\n    data.push(\"Other\")\n} \ndata.push(msg.fit)\ndata.push(msg.curtailment_percentage)\ndata.push(msg.current)\ndata.push(msg.forecast)\ndata.push(msg.dc_power_now)\ndata.push(msg.load_now)\ndata.push(msg.expected_generation_remaining.toPrecision(4))\ndata.push(msg.expected_consumption_remaining.toPrecision(4))\ndata.push(msg.battery)\ndata.push(msg.net_remaining.toPrecision(4))\ndata.push(msg.remaining_battery_kwh.toPrecision(4))\ndata.push(msg.charge_required.toPrecision(3))\ndata.push(msg.battery_w)\nif (msg.cheapest_grid_start){\n    data.push(cheap_grid_start)\n}\nelse {\n    data.push(\"\")\n}\ndata.push(msg.decisions.join(\" > \"))\n// data.push(msg.decision)\n\nmsg.payload = data.join(\"\t\");\n\nreturn [msg2,msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2640,
        "y": 320,
        "wires": [
            [
                "2eca2b582c69e8ed",
                "b94be246755eb502"
            ],
            [
                "66f7dd10543c5291"
            ]
        ]
    },
    {
        "id": "dfc1b7afe3f42a9f",
        "type": "api-current-state",
        "z": "1f79901475e24239",
        "name": "Get Demand",
        "server": "5165f8c6.cc4798",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.demand_interval",
        "state_type": "habool",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "demand_interval",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "40b6e7315decf964"
            ]
        ]
    },
    {
        "id": "5165f8c6.cc4798",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": true
    },
    {
        "id": "814a6af6675ecbdc",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "xxx.xxx.xxx.xxx",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "39a507ed6f81ba8d",
        "type": "ha-entity-config",
        "server": "5165f8c6.cc4798",
        "deviceConfig": "",
        "name": "Energy_control_on_off",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "energy_control_on_off"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "switch"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "5e71c4ffa9baa60b",
        "type": "position-config",
        "name": "",
        "isValide": "true",
        "angleType": "deg",
        "timeZoneOffset": 99,
        "timeZoneDST": 0,
        "stateTimeFormat": "3",
        "stateDateFormat": "12",
        "contextStore": ""
    },
    {
        "id": "d4db2a13c2eff92e",
        "type": "ha-entity-config",
        "server": "5165f8c6.cc4798",
        "deviceConfig": "",
        "name": "agressive_mode_switch",
        "version": "6",
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": "Aggressive Mode"
            },
            {
                "property": "icon",
                "value": "mdi:gauge-full"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": "switch"
            }
        ],
        "resend": false,
        "debugEnabled": false
    }
]
